<div class="accountinfo__calendarcontainer marginBtm30">
    <div class="accountinfo__calendartemplate">
        <div class="accountinfo__options">
            <eds-dropdown class="eds"><label class="style-scope eds-dropdown"></label>
                <div class="eds-dropdown-trigger style-scope eds-dropdown" tabindex="-1">
                    <span class="eds-dropdown-value style-scope eds-dropdown">Calendar</span>
                    <span class="eds-dropdown-placeholder style-scope eds-dropdown"></span>
                    <span class="eds-dropdown-arrow style-scope eds-dropdown"></span>
                </div>
            </eds-dropdown>
        </div>
        <div class="accountinfo__calendarview">
            <div class="accountinfo__switchmonth">
                <a class="accountinfo__switchmonthlink" href="javascript:void(0);" title="Previous Month">
                    <span class="eds-previous-caret"></span>
                </a>
            </div>
            <div class="accountinfo__monthviews">
                <div class="accountinfo__monthviewsection">
                    <div class="accountinfo__monthview">
                        <div class="accountinfo__calendartitle">Arpil 2018</div>
                        <div class="accountinfo__calendarcells">
                            <div class="accountinfo__calendarheader">Sun</div>
                            <div class="accountinfo__calendarheader">Mon</div>
                            <div class="accountinfo__calendarheader">Tue</div>
                            <div class="accountinfo__calendarheader">Wed</div>
                            <div class="accountinfo__calendarheader">Thu</div>
                            <div class="accountinfo__calendarheader">Fri</div>
                            <div class="accountinfo__calendarheader">Sat</div>

                            <div class="accountinfo__calendarcell">
                                <!--BLANK-->
                            </div>
                            <div class="accountinfo__calendarcell">
                                <!--BLANK-->
                            </div>
                            <div class="accountinfo__calendarcell">
                                <!--BLANK-->
                            </div>
                            <div class="accountinfo__calendarcell">
                                <!--BLANK-->
                            </div>
                            <div class="accountinfo__calendarcell">
                                <!--BLANK-->
                            </div>
                            <div class="accountinfo__calendarcell">
                                <span class="accountinfo__calendarcelltext">1</span>
                            </div>
                            <div class="accountinfo__calendarcell">
                                <span class="accountinfo__calendarcelltext">2</span>
                            </div>
                            <div class="accountinfo__calendarcell">
                                <span class="accountinfo__calendarcelltext">3</span>

                            </div>
                            <div class="accountinfo__calendarcell">
                                <span class="accountinfo__calendarcelltext clr--white">4</span>
                                <span class="circle--fill circle--pos-center accountinfo__communication"></span>
                            </div>
                            <div class="accountinfo__calendarcell">
                                <span class="accountinfo__calendarcelltext">5</span>

                            </div>
                            <div class="accountinfo__calendarcell">
                                <span class="accountinfo__calendarcelltext">6</span>

                            </div>
                            <div class="accountinfo__calendarcell">
                                <span class="accountinfo__calendarcelltext clr--purple">7</span>
                                <span class="circle--border circle--pos-center accountinfo__multipleevents"></span>
                            </div>
                            <div class="accountinfo__calendarcell">
                                <span class="accountinfo__calendarcelltext">8</span>
                            </div>
                            <div class="accountinfo__calendarcell">
                                <span class="accountinfo__calendarcelltext">9</span>
                            </div>
                            <div class="accountinfo__calendarcell">
                                <span class="accountinfo__calendarcelltext">10</span>
                            </div>
                            <div class="accountinfo__calendarcell">
                                <span class="accountinfo__calendarcelltext">11</span>
                            </div>
                            <div class="accountinfo__calendarcell">
                                <span class="accountinfo__calendarcelltext">12</span>
                                <span class="circle--fill circle--pos-center accountinfo__userconfig2"></span>
                            </div>
                            <div class="accountinfo__calendarcell">
                                <span class="accountinfo__calendarcelltext">13</span>
                            </div>
                            <div class="accountinfo__calendarcell">
                                <span class="accountinfo__calendarcelltext">14</span>
                            </div>
                            <div class="accountinfo__calendarcell">
                                <span class="accountinfo__calendarcelltext">15</span>
                            </div>
                            <div class="accountinfo__calendarcell">
                                <span class="accountinfo__calendarcelltext">16</span>
                            </div>
                            <div class="accountinfo__calendarcell">
                                <span class="accountinfo__calendarcelltext">17</span>
                            </div>
                            <div class="accountinfo__calendarcell">
                                <span class="accountinfo__calendarcelltext clr--white">18</span>
                                <span class="circle--fill circle--pos-center accountinfo__credit"></span>
                            </div>
                            <div class="accountinfo__calendarcell">
                                <span class="accountinfo__calendarcelltext clr--purple">19</span>
                                <span class="circle--border circle--pos-center accountinfo__multipleevents"></span>
                            </div>
                            <div class="accountinfo__calendarcell">
                                <span class="accountinfo__calendarcelltext">20</span>
                            </div>
                            <div class="accountinfo__calendarcell">
                                <span class="accountinfo__calendarcelltext clr--white">21</span>
                                <span class="circle--fill circle--pos-center accountinfo__debit"></span>
                            </div>
                            <div class="accountinfo__calendarcell">
                                <span class="accountinfo__calendarcelltext">22</span>
                            </div>
                            <div class="accountinfo__calendarcell">
                                <span class="accountinfo__calendarcelltext">23</span>
                            </div>
                            <div class="accountinfo__calendarcell">
                                <span class="accountinfo__calendarcelltext">24</span>
                            </div>
                            <div class="accountinfo__calendarcell">
                                <span class="accountinfo__calendarcelltext">25</span>
                            </div>
                            <div class="accountinfo__calendarcell">
                                <span class="accountinfo__calendarcelltext">26</span>
                            </div>
                            <div class="accountinfo__calendarcell">
                                <span class="accountinfo__calendarcelltext">27</span>
                            </div>
                            <div class="accountinfo__calendarcell">
                                <span class="accountinfo__calendarcelltext">28</span>
                            </div>
                            <div class="accountinfo__calendarcell">
                                <span class="accountinfo__calendarcelltext">29</span>
                            </div>
                            <div class="accountinfo__calendarcell">
                                <span class="accountinfo__calendarcelltext">30</span>
                            </div>
                            <div class="accountinfo__calendarcell">
                                <!--BLANK-->
                            </div>
                            <div class="accountinfo__calendarcell">
                                <!--BLANK-->
                            </div>
                            <div class="accountinfo__calendarcell">
                                <!--BLANK-->
                            </div>
                            <div class="accountinfo__calendarcell">
                                <!--BLANK-->
                            </div>
                            <div class="accountinfo__calendarcell">
                                <!--BLANK-->
                            </div>
                            <div class="accountinfo__calendarcell">
                                <!--BLANK-->
                            </div>
                            <div class="accountinfo__calendarcell">
                                <!--BLANK-->
                            </div>

                        </div>
                    </div>
                </div>
                <div class="accountinfo__monthviewsection">
                    <div class="devider"></div>
                    <div class="accountinfo__monthview">
                        <div class="accountinfo__calendartitle">May 2018</div>
                        <div class="accountinfo__calendarcells">
                            <div class="accountinfo__calendarheader">Sun</div>
                            <div class="accountinfo__calendarheader">Mon</div>
                            <div class="accountinfo__calendarheader">Tue</div>
                            <div class="accountinfo__calendarheader">Wed</div>
                            <div class="accountinfo__calendarheader">Thu</div>
                            <div class="accountinfo__calendarheader">Fri</div>
                            <div class="accountinfo__calendarheader">Sat</div>

                            <div class="accountinfo__calendarcell">
                                <!--BLANK-->
                            </div>
                            <div class="accountinfo__calendarcell">
                                <!--BLANK-->
                            </div>
                            <div class="accountinfo__calendarcell">
                                <!--BLANK-->
                            </div>
                            <div class="accountinfo__calendarcell">
                                <!--BLANK-->
                            </div>
                            <div class="accountinfo__calendarcell">
                                <!--BLANK-->
                            </div>
                            <div class="accountinfo__calendarcell">
                                <span class="accountinfo__calendarcelltext">1</span>
                            </div>
                            <div class="accountinfo__calendarcell">
                                <span class="accountinfo__calendarcelltext">2</span>
                            </div>
                            <div class="accountinfo__calendarcell">
                                <span class="accountinfo__calendarcelltext">3</span>

                            </div>
                            <div class="accountinfo__calendarcell">
                                <span class="accountinfo__calendarcelltext">4</span>
                            </div>
                            <div class="accountinfo__calendarcell">
                                <span class="accountinfo__calendarcelltext">5</span>

                            </div>
                            <div class="accountinfo__calendarcell">
                                <span class="accountinfo__calendarcelltext">6</span>

                            </div>
                            <div class="accountinfo__calendarcell">
                                <span class="accountinfo__calendarcelltext">7</span>
                            </div>
                            <div class="accountinfo__calendarcell">
                                <span class="accountinfo__calendarcelltext">8</span>
                            </div>
                            <div class="accountinfo__calendarcell">
                                <span class="accountinfo__calendarcelltext">9</span>
                            </div>
                            <div class="accountinfo__calendarcell">
                                <span class="accountinfo__calendarcelltext">10</span>
                            </div>
                            <div class="accountinfo__calendarcell">
                                <span class="accountinfo__calendarcelltext clr--white">11</span>
                                <span class="circle--fill circle--pos-center accountinfo__debit"></span>
                            </div>
                            <div class="accountinfo__calendarcell">
                                <span class="accountinfo__calendarcelltext">12</span>
                                <span class="circle--fill circle--pos-center accountinfo__userconfig2"></span>
                            </div>
                            <div class="accountinfo__calendarcell">
                                <span class="accountinfo__calendarcelltext">13</span>
                            </div>
                            <div class="accountinfo__calendarcell">
                                <span class="accountinfo__calendarcelltext">14</span>
                            </div>
                            <div class="accountinfo__calendarcell">
                                <span class="accountinfo__calendarcelltext">15</span>
                                <span class="circle--fill circle--pos-center accountinfo__userconfig1"></span>
                            </div>
                            <div class="accountinfo__calendarcell">
                                <span class="accountinfo__calendarcelltext">16</span>
                            </div>
                            <div class="accountinfo__calendarcell">
                                <span class="accountinfo__calendarcelltext">17</span>
                            </div>
                            <div class="accountinfo__calendarcell">
                                <span class="accountinfo__calendarcelltext">18</span>
                            </div>
                            <div class="accountinfo__calendarcell">
                                <span class="accountinfo__calendarcelltext">19</span>
                            </div>
                            <div class="accountinfo__calendarcell">
                                <span class="accountinfo__calendarcelltext clr--white">20</span>
                                <span class="circle--fill circle--pos-center accountinfo__communication"></span>
                            </div>
                            <div class="accountinfo__calendarcell">
                                <span class="accountinfo__calendarcelltext">21</span>
                                <span class="circle--fill circle--pos-center accountinfo__arrangement"></span>
                            </div>
                            <div class="accountinfo__calendarcell">
                                <span class="accountinfo__calendarcelltext">22</span>
                            </div>
                            <div class="accountinfo__calendarcell">
                                <span class="accountinfo__calendarcelltext">23</span>
                            </div>
                            <div class="accountinfo__calendarcell">
                                <span class="accountinfo__calendarcelltext">24</span>
                            </div>
                            <div class="accountinfo__calendarcell">
                                <span class="accountinfo__calendarcelltext">25</span>
                            </div>
                            <div class="accountinfo__calendarcell">
                                <span class="accountinfo__calendarcelltext clr--white">26</span>
                                <span class="circle--fill circle--pos-center accountinfo__call"></span>
                            </div>
                            <div class="accountinfo__calendarcell">
                                <span class="accountinfo__calendarcelltext">27</span>
                            </div>
                            <div class="accountinfo__calendarcell">
                                <span class="accountinfo__calendarcelltext">28</span>
                            </div>
                            <div class="accountinfo__calendarcell">
                                <span class="accountinfo__calendarcelltext">29</span>
                                <span class="accountinfo__today"></span>
                            </div>
                            <div class="accountinfo__calendarcell">
                                <span class="accountinfo__calendarcelltext">30</span>
                            </div>
                            <div class="accountinfo__calendarcell">
                                <span class="accountinfo__calendarcelltext">31</span>
                            </div>
                            <div class="accountinfo__calendarcell">
                                <!--BLANK-->
                            </div>
                            <div class="accountinfo__calendarcell">
                                <!--BLANK-->
                            </div>
                            <div class="accountinfo__calendarcell">
                                <!--BLANK-->
                            </div>
                            <div class="accountinfo__calendarcell">
                                <!--BLANK-->
                            </div>
                            <div class="accountinfo__calendarcell">
                                <!--BLANK-->
                            </div>
                            <div class="accountinfo__calendarcell">
                                <!--BLANK-->
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="accountinfo__switchmonth">
                <a class="accountinfo__switchmonthlink" href="javascript:void(0);" title="Next Month">
                    <span class="eds-next-caret"></span>
                </a>
            </div>
        </div>
    </div>
    <div class="accountinfo__legendsection">
        <ul class="accountinfo__calendarlegends">
            <li class="accountinfo__calendarlegend">
                <i class="smallcircle--border accountinfo__multipleevents"></i>
                <label class="accountinfo__calendarlegendtext">Multiple Events</label>
            </li>
            <li class="accountinfo__calendarlegend">
                <i class="smallcircle--fill accountinfo__debit"></i>
                <label class="accountinfo__calendarlegendtext">Debit</label>
            </li>
            <li class="accountinfo__calendarlegend">
                <i class="smallcircle--fill accountinfo__call"></i>
                <label class="accountinfo__calendarlegendtext">Calls</label>
            </li>
            <li class="accountinfo__calendarlegend">
                <i class="smallcircle--fill accountinfo__userconfig1"></i>
                <label class="accountinfo__calendarlegendtext">User Configuration [1]</label>
            </li>
            <li class="accountinfo__calendarlegend">
                <i class="smallcircle--border accountinfo__arrangement"></i>
                <label class="accountinfo__calendarlegendtext">Arrangements</label>
            </li>
            <li class="accountinfo__calendarlegend">
                <i class="smallcircle--fill accountinfo__credit"></i>
                <label class="accountinfo__calendarlegendtext">Credit</label>
            </li>
            <li class="accountinfo__calendarlegend">
                <i class="smallcircle--fill accountinfo__communication"></i>
                <label class="accountinfo__calendarlegendtext">Communications</label>
            </li>
            <li class="accountinfo__calendarlegend">
                <i class="smallcircle--fill accountinfo__userconfig2"></i>
                <label class="accountinfo__calendarlegendtext">User Configuration [2]</label>
            </li>
        </ul>
    </div>
</div>