<div class="account">
    <div class="account__title">
        Account
    </div>
    <div>
        <div class="account__header">
            <div class="account__hritem">ACCOUNT</div>
            <div class="account__hritem">ATP</div>
            <div class="account__hritem">CURRENT BALANCE</div>
            <div class="account__hritem">ARREARS</div>
            <div class="account__hritem">DAYS</div>
        </div>
        <div class="account__row">
            <div class="account__content">
                <div class="account__cnitem account-bc--blue">A1000064</div>
                <div class="account__cnitem">
                    <a href="javascript:void(0);" title="user details">
                        <img src="../assets/images/profile__icon.png" class="account__user" alt="user" />
                        <span class="account__count">+2</span>
                    </a>
                </div>
                <div class="account__cnitem">£1000</div>
                <div class="account__cnitem">£690</div>
                <div class="account__cnitem">95</div>
            </div>
            <div class="account__progress"></div>
            <div class="account__rowbottom"></div>
        </div>
    </div>
    <div class="account__history">
        Recent History
    </div>
    <div class="account__historylog">
        <ul class="account__log">
            <li class="account__lgitem">
                <img src="../assets/images/next__icon.png" class="account__expand" alt="accordion expand" />
                <span class="account__logcontent mg-lft--10">22/09/2017</span>
            </li>
            <li class="account__lgitem">
                <span class="account__logcontent">Outbound Call</span>
            </li>
            <li class="account__lgitem">
                <span class="account__logcontent font--light">Agent Carl T</span>
            </li>
        </ul>
        <ul class="account__log">
            <li class="account__lgitem">
                <span class="account__logcontent mg-lft--120">22/09/2017: A1000074</span>
            </li>
            <li class="account__lgitem">
                <span class="account__logcontent">New arrangements made</span>
            </li>
            <li class="account__lgitem">
                <span class="account__logcontent font--light">Agent Carl T</span>
            </li>
        </ul>
        <ul class="account__log">
            <li class="account__lgitem">
                <img src="../assets/images/down.png" class="account__expand" alt="accordion expand" />
                <span class="account__logcontent mg-lft--10">22/09/2017</span>
            </li>
            <li class="account__lgitem">
                <span class="account__logcontent">Inbound Call</span>
            </li>
            <li class="account__lgitem">
                <span class="account__logcontent font--light">Agent Carl T</span>
            </li>
        </ul>
        <ul class="account__log">
            <li class="account__lgitem">
                <span class="account__logcontent mg-lft--45">22/09/2017</span>
            </li>
            <li class="account__lgitem">
                <span class="account__logcontent">I&E update</span>
            </li>
            <li class="account__lgitem">
                <span class="account__logcontent font--light">Agent Carl T</span>
            </li>
        </ul>
        <ul class="account__log">
            <li class="account__lgitem">
                <img src="../assets/images/down.png" class="account__expand" alt="accordion expand" />
                <span class="account__logcontent mg-lft--10">22/09/2017</span>
            </li>
            <li class="account__lgitem">
                <span class="account__logcontent">Missed inbound Call</span>
            </li>
            <li class="account__lgitem">
                <span class="account__logcontent font--light">Agent Carl T</span>
            </li>
        </ul>
    </div>
</div>