<main class="subpage__tabdetailmain containerFlex marginTop20">
    <div class="subpage__tableft containerSide left" id="accountContact">
        ${require('./profileDetails.html')}
        ${require('./collectionInfo.html')}
        ${require('./customerPreference.html')}
        ${require('./dca.html')}
    </div>
    <div class="subpage__tabmiddle containerMiddle" aria-label="Account summary section containing account details in tabular format" tabindex="0">
        ${require('./remainder.html')}
    </div>
    <div class="subpage__tabright containerSide" id="accountsActivity">
        ${require('./activites.html')}
    </div>
</main>