<section class="subpage container acct-container clear">
    ${require('./pccSecondaryHeader.html')}
    <eds-tabs class="subpage__maincont eds" id="account__main">
        ${require('./edsTabs.html')}
        <eds-tab label="Person Overview" class="subpage__tabdetail eds accountsTabPanel" aria-expanded="false" id="tab-panel-0" aria-labelledby="tab-0" aria-hidden="true" role="tabpanel" active="true">
            ${require('./personOverview.html')}
        </eds-tab>
        <eds-tab aria-label="A One Zero Zero Zero Zero Five Six case" aria-expanded="false" label="A1000056" class="subpage__tabdetail eds accountsTabPanel" aria-hidden="true" id="tab-panel-1" aria-labelledby="tab-1" role="tabpanel">
            ${require('./accountInfo.html')}
        </eds-tab>
        <eds-tab label="Income & Expenditure" aria-expanded="false" class="subpage__tabdetail eds accountsTabPanel" id="tab-panel-2" aria-labelledby="tab-2" aria-hidden="true" role="tabpanel" active="true">
            ${require('./incomeExpenditureStepOne.html')}
        </eds-tab>
        <eds-tab aria-expanded="true" label="Arrangement" class="subpage__tabdetail eds accountsTabPanel" aria-hidden="false" tabindex="-1" id="tab-panel-3" aria-labelledby="tab-3" role="tabpanel">
            ${require('./arrangement.html')}
        </eds-tab>
    </eds-tabs>
</section>