<main class="subpage__tabdetailmain containerFlex marginTop20">
    <div class="subpage__tableft containerSide left" id="accountContact">
        ${require('./profileDetails.html')}
        ${require('./collectionInfo.html')}
        ${require('./arrearsinformation.html')}
        <div id="accoutiedetail">
            ${require('./incomeExpenditureInfo.html')}
        </div>
        ${require('./customerPreference.html')}
        ${require('./combineAuthorisedParties.html')}
    </div>
    <div class="subpage__tabmiddle containerMiddle" aria-label="Account summary section containing account details in tabular format" tabindex="0">
        <div class="promisepay">
            <nav class="promisepay__navtab">
                <ul class="promisepay__navtabcont">
                    <li class="promisepay__navtablist">
                        <a id="acctab" onclick="switchaccarrtab('acc')" class="promisepay__navtablink promisepay--navtablinkfirst promisepay--navtablinkactive" href="javascript:void(0);" title="Account">Account</a>
                    </li>
                    <li class="promisepay__navtablist">
                        <a id="arrtab" onclick="switchaccarrtab('arr')" class="promisepay__navtablink promisepay--navtablinklast" href="javascript:void(0);" title="Activity">Activity</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div id="accdetail">
            ${require('./accountCalendar.html')}
            ${require('./accountReminder.html')}
        </div>
        <div id="arrdetail">
            ${require('./arrangementDetail.html')}
        </div>
    </div>
    <div class="subpage__tabright containerSide" id="accountsActivity">
        ${require('./activites.html')}
    </div>
</main>