<eds-tabs background="gray" class="eds" role="complementary">
    <ul class="tab-labels style-scope eds-tabs" role="tablist">
        <li role="presentation" class="style-scope eds-tabs">
            <a href="javascript:void(0);" id="tab-alerts" aria-selected="true" role="tab" class="style-scope eds-tabs">
                Alerts
            </a>
        </li>
        <li role="presentation" class="style-scope eds-tabs">
            <a href="javascript:void(0);" id="tab-activities" aria-selected="false" role="tab" class="style-scope eds-tabs">
                Activities
            </a>
        </li>
    </ul>
    <eds-tab label="Activities" class="eds" aria-hidden="true" id="tab-panel-5" aria-labelledby="tab-5" role="tabpanel">
        <ul class="style-scope eds-tabs activity-tabs">
            <li role="presentation" class="style-scope eds-tabs promisepay__link">
                <a aria-selected="false" aria-controls="tab-panel-3" href="javascript:void(0);" role="tab" class="style-scope eds-tabs">
                    Escalate to Manager
                </a>
            </li>
            <li onclick="toggleMemo()" role="presentation" class="style-scope eds-tabs memo-tab bor-top--1 memodetail">
                <a aria-expanded="false" aria-controls="expandable" aria-selected="false" href="javascript:void(0);" role="tab" class="style-scope eds-tabs">Memo <span class="eds-accordion-caret"></span></a>
                <ul id="expandable">
                    <li>
                        <a aria-selected="false" href="javascript:void(0);" role="tab" class="style-scope eds-tabs cur--auto memo__links" tabindex="0">
                            Standard Memo
                        </a>
                    </li>
                    <li>
                        <a aria-selected="false" href="javascript:void(0);" role="tab" class="style-scope eds-tabs cur--auto memo__links" tabindex="0">
                            Important Memo
                        </a>
                    </li>
                </ul>
            </li>
            <li role="presentation" class="style-scope eds-tabs">
                <a aria-controls="Move to Arrangement" aria-selected="false" href="javascript:void(0);" role="tab" class="style-scope eds-tabs cur--auto memo__links" tabindex="0">Create New Arrangement</a>
            </li>
            <li role="presentation" class="style-scope eds-tabs">
                <a aria-controls="Product Request" aria-selected="false" href="javascript:void(0);" role="tab" class="style-scope eds-tabs cur--auto memo__links" tabindex="0">Product Request <span class="eds-accordion-caret"></span></a>
            </li>
            <li role="presentation" class="style-scope eds-tabs">
                <a  aria-controls="Referral" aria-selected="false" href="javascript:void(0);" role="tab" class="style-scope eds-tabs cur--auto memo__links" tabindex="0">Referral</a>
            </li>
            <li role="presentation" class="style-scope eds-tabs">
                <a  aria-controls="Report Account Exceptions" aria-selected="false" href="javascript:void(0);" role="tab" class="style-scope eds-tabs cur--auto memo__links" tabindex="0">Report Account Exceptions <span class="eds-accordion-caret"></span></a>
            </li>
        </ul>
    </eds-tab>
    <eds-tab label="Alerts" class="eds" active="true" aria-hidden="false" id="tab-panel-4" aria-labelledby="tab-4" role="tabpanel">
        <div class="subpage__alertinfo">
            <div class="subpage__alertleft">
                <i class="subpage__alerticon"></i>
            </div>
            <div class="subpage__alertright eds-alert-content style-scope eds-alert">
                <p class="subpage__alertmessage">This is an example of an alert note.</p>
            </div>
        </div>
    </eds-tab>
</eds-tabs>

<section class="notes-tab" role="contentinfo">
    <eds-accordion class="greyHeading eds marginBtm20 note-container" background="white" role="tablist" tabindex="0">
        <eds-accordion-panel label="Notes" role="tab">
            <h5 id="notesHeading" class="eds-accordion-label cur--auto">
                <i class="icon--notes"></i>
                <span class="eds-accordion-label-text text-Cap"> Notes </span>
                <span class="eds-accordion-label-text text-Cap"> Notes </span>
                <i class="icon--notescollapse"></i>
            </h5>
            <label for="notes__text" class="search__visuallyhidden textNote">Enter text in notes</label>
            <textarea class="scroll" name="" id="notes__text" placeholder="Start typing your note..." cols="30" rows="19"></textarea>
        </eds-accordion-panel>
        <div class="table">
            <div class="row">
                <!-- <div aria-label="Last saved 02:05 pm" class="cell pad-top--8">
                    Last saved 02:05 pm
                </div> -->
                <div class="cell">
                    <button aria-label="Save Note" tabindex="0" aria-label="Click to save note" class="note-btn">Save Note</button>
                </div>
            </div>
        </div>
    </eds-accordion>
</section>