<div id="completearrangement">
    <div class="subpage__arrangebox">
        <div class="subpage__arrangeboxinner">
            <h5 class="subpage__createarrange">Create New Arrangement</h5>
            <div class="subpage__arrangeprogresscont">
                <div class="subpage__arrangeprogress">
                    <div class="subpage__arrangeprogressline"> </div>
                    <div class="subpage__arrangetask progress--complete">
                        <label class="subpage__arrangetaskinfo">Create</label>
                        <span class="subpage__arrangetaskcircle"></span>
                    </div>
                    <div class="subpage__arrangetask aln-at--middle progress--complete">
                        <label class="subpage__arrangetaskinfo">Review</label>
                        <span class="subpage__arrangetaskcircle"></span>
                    </div>
                    <div class="subpage__arrangetask aln-at--end progress--complete">
                        <label class="subpage__arrangetaskinfo">Complete</label>
                        <span class="subpage__arrangetaskcircle"></span>
                    </div>
                </div>
            </div>
            <div class="subpage__arrangesetup">
                <h5 class="subpage__createarrange">New arrangement has been set up!</h5>
                <div class="subpage__createarrangehighbox">
                    <div class="subpage__createarrangehighinner">
                        <p class="subpage__arrangesetupdesc">The following documents have been sent to james.brown9@gmail.com</p>
                        <ul class="subpage__arrangesetupcont">
                            <li class="subpage__arrangesetuplist">
                                <input class="subpage__arrangesetupinput roundedcheckbox" checked="checked" type="checkbox" class="" name="arrangesetup" />
                                <label class="subpage__arrangesetuplabel">Arrangement Schedule</label>
                            </li>
                            <li class="subpage__arrangesetuplist">
                                <input class="subpage__arrangesetupinput roundedcheckbox" checked="checked" type="checkbox" class="" name="arrangesetup" />
                                <label class="subpage__arrangesetuplabel">Arrangement document</label>
                            </li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            <div class="subpage__arrangereviewbtns">
                <button onclick="switchaccarrtab('acc');showhideblocks('arrangementConfirmed', 'arrangementPending');showhideblocks('', 'accountTab')" class="subpage__arrangereviewcmptbtn">Close</button>
            </div>
            <div class="clear--both"></div>
        </div>
    </div>
</div>