<div id="createarrangement">
    <div class="subpage__arrangebox">
        <div class="subpage__arrangeboxinner">
            <h5 class="subpage__createarrange">Create New Arrangement</h5>
            <div class="subpage__arrangeprogresscont">
                <div class="subpage__arrangeprogress">
                    <div class="subpage__arrangeprogressline"> </div>
                    <div class="subpage__arrangetask progress--complete">
                        <label class="subpage__arrangetaskinfo">Create</label>
                        <span class="subpage__arrangetaskcircle"></span>
                    </div>
                    <div class="subpage__arrangetask aln-at--middle progress--active">
                        <label class="subpage__arrangetaskinfo">Review</label>
                        <span class="subpage__arrangetaskcircle"></span>
                    </div>
                    <div class="subpage__arrangetask aln-at--end">
                        <label class="subpage__arrangetaskinfo">Complete</label>
                        <span class="subpage__arrangetaskcircle"></span>
                    </div>
                </div>
            </div>
            <div class="clear--both"></div>
            <h5 class="subpage__arrangetypedesc mar-tp--100">Review Instalment Arrangement Plan</h5>
            <div class="subpage__arrangereviewcont">
                <div class="subpage__arrangereview">
                    <h6 class="subpage__arrangereviewhead">Instalment Plan Details</h6>
                    <div class="subpage__arrangereviewblock">
                        <div class="subpage__arrangereviewlist">
                            <label class="subpage__arrangereviewlabel">Type of Arrangement</label>
                            <p class="subpage__arrangereviewvalue">Installment</p>
                        </div>
                        <div class="subpage__arrangereviewlist">
                            <label class="subpage__arrangereviewlabel">Requirement</label>
                            <p class="subpage__arrangereviewvalue">Monthly</p>
                        </div>
                    </div>
                    <div class="subpage__arrangereviewblock">
                        <div class="subpage__arrangereviewlist">
                            <label class="subpage__arrangereviewlabel">Current Balance</label>
                            <p class="subpage__arrangereviewvalue">£6,100.00</p>
                        </div>
                        <div class="subpage__arrangereviewlist">
                            <label class="subpage__arrangereviewlabel">Agreed Final Balance</label>
                            <p class="subpage__arrangereviewvalue">£500.00</p>
                        </div>
                        <div class="subpage__arrangereviewlist">
                            <label class="subpage__arrangereviewlabel">Agreed Start Balance</label>
                            <p class="subpage__arrangereviewvalue">£6,100.00</p>
                        </div>
                    </div>
                    <div class="subpage__arrangereviewblock">
                        <div class="subpage__arrangereviewlist">
                            <label class="subpage__arrangereviewlabel">Initial Reduction</label>
                            <p class="subpage__arrangereviewvalue">£3,500.00</p>
                        </div>
                        <div class="subpage__arrangereviewlist">
                            <label class="subpage__arrangereviewlabel">Date</label>
                            <p class="subpage__arrangereviewvalue">21/06/2018</p>
                        </div>
                    </div>
                    <div class="subpage__arrangereviewblock">
                        <div class="subpage__arrangereviewlist">
                            <label class="subpage__arrangereviewlabel">Periodic Reduction</label>
                            <p class="subpage__arrangereviewvalue">£500.00</p>
                        </div>
                        <div class="subpage__arrangereviewlist">
                            <label class="subpage__arrangereviewlabel">Duration (Month)</label>
                            <p class="subpage__arrangereviewvalue">10</p>
                        </div>
                        <div class="subpage__arrangereviewlist">
                            <label class="subpage__arrangereviewlabel">Start Date</label>
                            <p class="subpage__arrangereviewvalue">30/06/2018</p>
                        </div>
                        <div class="subpage__arrangereviewlist">
                            <label class="subpage__arrangereviewlabel">End Date</label>
                            <p class="subpage__arrangereviewvalue">25/09/2019</p>
                        </div>
                    </div>
                    <div class="subpage__arrangereviewblock">
                        <button class="subpage__arrangereviewbtn">Preview Letter</button>
                        <button class="subpage__arrangereviewbtn">Preview Schedule</button>
                    </div>
                </div>
            </div>
            <h5 class="subpage__createarrange">Send Arrangement to:</h5>
            <table class="subpage__sendarrangetbl">
                <tr class="subpage__sendarrangerow">
                    <td class="subpage__sendarrangecol wdh-per--5">
                        <input class="checkbox arr--checkbox pull--left" type="checkbox" name ="sendarrangement"/>
                    </td>
                    <td class="subpage__sendarrangecol">
                        <label class="subpage__sendarrcollabel">Address (HOME)</label>
                        <p class="subpage__sendarrcolvalue">15a Smith Close, Burbury, South Yorkshire, S82 6JK</p>
                    </td>
                </tr>
                <tr class="subpage__sendarrangerow row--selected">
                    <td class="subpage__sendarrangecol wdh-per--5">
                        <input class="checkbox arr--checkbox pull--left" checked="checked" type="checkbox" name ="sendarrangement"/>
                    </td>
                    <td class="subpage__sendarrangecol">
                        <label class="subpage__sendarrcollabel">Email</label>
                        <p class="subpage__sendarrcolvalue">james.brown9@gmail.com</p>
                    </td>
                </tr>
            </table>
            <div class="subpage__arrangereviewbtns">
                <button class="subpage__arrangereviewcmptbtn" onclick="showhideblocks('completearrangement', 'createarrangement')">Complete</button>
            </div>
            <div class="clear--both"></div>
        </div>
    </div>
</div>