<div id="arrangementinitial">
    <div class="subpage__arrangebox">
        <div class="subpage__arrangeboxinner">
            <h5 class="subpage__createarrange">Create New Arrangement</h5>
            <div class="subpage__arrangeprogresscont">
                <div class="subpage__arrangeprogress">
                    <div class="subpage__arrangeprogressline"> </div>
                    <div class="subpage__arrangetask progress--active">
                        <label class="subpage__arrangetaskinfo">Create</label>
                        <span class="subpage__arrangetaskcircle"></span>
                    </div>
                    <div class="subpage__arrangetask aln-at--middle">
                        <label class="subpage__arrangetaskinfo">Review</label>
                        <span class="subpage__arrangetaskcircle"></span>
                    </div>
                    <div class="subpage__arrangetask aln-at--end">
                        <label class="subpage__arrangetaskinfo">Complete</label>
                        <span class="subpage__arrangetaskcircle"></span>
                    </div>
                </div>
            </div>
            <div class="clear--both"></div>
            <div class="subpage__arrangeform">
                <ul class="subpage__arrangeforminner">
                    <li class="subpage__arrangeformlist">
                        <label class="subpage__arrangeformlabel">Type of Arrangement</label>
                    </li>
                    <li>
                        <eds-dropdown class="subpage__arrangeformselect eds pull--left">
                            <label class="style-scope eds-dropdown">Reducing Balance</label>
                            <div class="eds-dropdown-trigger style-scope eds-dropdown" tabindex="-1">
                                <span class="eds-dropdown-value style-scope eds-dropdown">Reducing Balance</span>
                                <span class="eds-dropdown-placeholder style-scope eds-dropdown"></span>
                                <span class="eds-dropdown-arrow style-scope eds-dropdown"></span>
                            </div>
                        </eds-dropdown>
                    </li>
                    <li class="subpage__arrangeformlist">
                        <label class="search__daylabel">
                            Promise to Pay
                            <input class="search__dayinput" type="radio" checked="checked" name="statsday" />
                            <span class="search__daycheckmark"></span>
                        </label>
                    </li>
                    <li class="subpage__arrangeformlist">
                        <label class="search__daylabel">
                            Variable
                            <input class="search__dayinput" type="radio" name="statsday" />
                            <span class="search__daycheckmark"></span>
                        </label>
                    </li>
                    <li class="subpage__arrangeformlist">
                        <label class="search__daylabel">
                            Monthly
                            <input class="search__dayinput" type="radio" name="statsday" />
                            <span class="search__daycheckmark"></span>
                        </label>
                    </li>
                    <li class="subpage__arrangeformlist">
                        <label class="search__daylabel">
                            Fortnightly
                            <input class="search__dayinput" type="radio" name="statsday" />
                            <span class="search__daycheckmark"></span>
                        </label>
                    </li>
                    <li class="subpage__arrangeformlist">
                        <label class="search__daylabel">
                            Weekly
                            <input class="search__dayinput" type="radio" name="statsday" />
                            <span class="search__daycheckmark"></span>
                        </label>
                    </li>
                    <li class="clear"></li>
                    <li class="subpage__arrangeformlist subpage--onebyfour">
                        <label class="subpage__arrangeformlabel">Amount of Arrears</label>
                        <span class="subpage__arrangeoverlabel">£</span>
                        <input class="subpage__arrangeforminput pad-lt--50" type="text" value="6,100.00" />
                    </li>
                    <li class="subpage__arrangeformlist subpage--onebyfour">
                        <label class="subpage__arrangeformlabel">Agreed Final Balance</label>
                        <span class="subpage__arrangeoverlabel">£</span>
                        <input class="subpage__arrangeforminput pad-lt--50" type="text" value="440.00" />
                    </li>
                    <li class="subpage__arrangeformlist subpage--onebyfour">
                        <label class="subpage__arrangeformlabel">Agreed Start Balance</label>
                        <i class="icon--arrcalendar"></i>
                        <input class="subpage__arrangeforminput" type="text" value="Dec 16, 2019" />
                    </li>
                    <li class="subpage__arrangeformlist subpage--onebyfour mar-rt--none">
                        <label class="subpage__arrangeformlabel">Agreed Start Balance</label>
                        <eds-dropdown class="subpage__arrangeformselect eds pull--left">
                            <label class="style-scope eds-dropdown">6</label>
                            <div class="eds-dropdown-trigger style-scope eds-dropdown" tabindex="-1">
                                <span class="eds-dropdown-value style-scope eds-dropdown">6</span>
                                <span class="eds-dropdown-placeholder style-scope eds-dropdown"></span>
                                <span class="eds-dropdown-arrow style-scope eds-dropdown"></span>
                            </div>
                        </eds-dropdown>
                    </li>
                    <li class="subpage__arrangeformlist wdh-per--100">
                        <hr/>
                    </li>
                    <li class="subpage__arrangeformlist wdh-per--100">
                        <button class="subpage__arrangeformbuton" onclick="showhideblocks('generatearrangement', 'arrangementinitial')">Generate Agreement</button>
                    </li>
                </ul>
            </div>
            <div class="clear--both"></div>
        </div>
    </div>
</div>
<div id="generatearrangement">
    <div class="subpage__arrangebox">
        <div class="subpage__arrangeboxinner">
            <h5 class="subpage__createarrange">Create New Arrangement</h5>
            <div class="subpage__arrangeprogresscont">
                <div class="subpage__arrangeprogress">
                    <div class="subpage__arrangeprogressline"> </div>
                    <div class="subpage__arrangetask progress--active">
                        <label class="subpage__arrangetaskinfo">Create</label>
                        <span class="subpage__arrangetaskcircle"></span>
                    </div>
                    <div class="subpage__arrangetask aln-at--middle">
                        <label class="subpage__arrangetaskinfo">Review</label>
                        <span class="subpage__arrangetaskcircle"></span>
                    </div>
                    <div class="subpage__arrangetask aln-at--end">
                        <label class="subpage__arrangetaskinfo">Complete</label>
                        <span class="subpage__arrangetaskcircle"></span>
                    </div>
                </div>
            </div>
            <div class="clear--both"></div>
            <div class="subpage__arrangetype">
                <span class="subpage__downarrow"></span>
                Arrangement Type
            </div>
            <h5 class="subpage__arrangetypedesc">The Monthly Arrangements we can offer you:</h5>
            <div class="subpage__sustaincont">
                <div class="subpage__sustainlist">
                    <div class="subpage__sustainhead">
                        <h6 class="subpage__sustainheading">Arrangement 1</h6>
                    </div>
                    <div class="subpage__sustaindetails">
                        <div class="subpage__sustaindetailsinner">
                            <label class="subpage__sustaindetailslabel">Initial Reduction</label>
                            <p class="subpage__sustaindetailsamount">£4,500.00</p>
                        </div>
                        <div class="subpage__sustaindetailsinner">
                            <label class="subpage__sustaindetailslabel">Date of Initial Reduction</label>
                            <p class="subpage__sustaindetailsamount">21/06/2018</p>
                        </div>
                        <div class="subpage__sustaindetailsinner">
                            <label class="subpage__sustaindetailslabel">Periodic Reduction</label>
                            <p class="subpage__sustaindetailsamount">£600.00</p>
                        </div>
                        <div class="subpage__sustaindetailsinner">
                            <label class="subpage__sustaindetailslabel">Payment Amount</label>
                            <p class="subpage__sustaindetailsamount">£60.00</p>
                        </div>
                        <div class="subpage__sustaindetailsinner">
                            <label class="subpage__sustaindetailslabel">Start Date</label>
                            <p class="subpage__sustaindetailsamount">30/06/2018</p>
                        </div>
                        <div class="subpage__sustaindetailsinner mar-bt--25">
                            <label class="subpage__sustaindetailslabel">End Date</label>
                            <p class="subpage__sustaindetailsamount">25/03/2019</p>
                        </div>
                        <hr/>
                        <div class="subpage__sustaindetailsinner pad-tp--10">
                            <button class="subpage__sustainselectbutton">Select</button>
                            <button class="subpage__sustaineditbutton">
                                <i class="subpage__sustainediticon"></i>
                                Edit
                            </button>
                        </div>
                    </div>
                </div>
                <div class="subpage__sustainlist sustain--active">
                    <div class="subpage__sustainhead">
                        <h6 class="subpage__sustainheading">Arrangement 2</h6>
                    </div>
                    <div class="subpage__sustaindetails">
                        <div class="subpage__sustaindetailsinner">
                            <label class="subpage__sustaindetailslabel">Initial Reduction</label>
                            <p class="subpage__sustaindetailsamount">£3,000.00</p>
                        </div>
                        <div class="subpage__sustaindetailsinner">
                            <label class="subpage__sustaindetailslabel">Date of Initial Reduction</label>
                            <p class="subpage__sustaindetailsamount">21/06/2018</p>
                        </div>
                        <div class="subpage__sustaindetailsinner">
                            <label class="subpage__sustaindetailslabel">Periodic Reduction</label>
                            <p class="subpage__sustaindetailsamount">£500.00</p>
                        </div>
                        <div class="subpage__sustaindetailsinner">
                            <label class="subpage__sustaindetailslabel">Payment Amount</label>
                            <p class="subpage__sustaindetailsamount">£50.00</p>
                        </div>
                        <div class="subpage__sustaindetailsinner">
                            <label class="subpage__sustaindetailslabel">Start Date</label>
                            <p class="subpage__sustaindetailsamount">30/06/2018</p>
                        </div>
                        <div class="subpage__sustaindetailsinner mar-bt--25">
                            <label class="subpage__sustaindetailslabel">End Date</label>
                            <p class="subpage__sustaindetailsamount">25/09/2019</p>
                        </div>
                        <hr/>
                        <div class="subpage__sustaindetailsinner pad-tp--10">
                            <button class="subpage__sustainselectbutton">Selected</button>
                            <button class="subpage__sustaineditbutton">
                                <i class="subpage__sustainediticon"></i>
                                Edit
                            </button>
                        </div>
                    </div>
                </div>
                <div class="subpage__sustainlist mar-rt--none">
                    <div class="subpage__sustainhead">
                        <h6 class="subpage__sustainheading">Arrangement 3</h6>
                    </div>
                    <div class="subpage__sustaindetails">
                        <div class="subpage__sustaindetailsinner">
                            <label class="subpage__sustaindetailslabel">Initial Reduction</label>
                            <p class="subpage__sustaindetailsamount">£2,500.00</p>
                        </div>
                        <div class="subpage__sustaindetailsinner">
                            <label class="subpage__sustaindetailslabel">Date of Initial Reduction</label>
                            <p class="subpage__sustaindetailsamount">21/06/2018</p>
                        </div>
                        <div class="subpage__sustaindetailsinner">
                            <label class="subpage__sustaindetailslabel">Periodic Reduction</label>
                            <p class="subpage__sustaindetailsamount">£400.00</p>
                        </div>
                        <div class="subpage__sustaindetailsinner">
                            <label class="subpage__sustaindetailslabel">Payment Amount</label>
                            <p class="subpage__sustaindetailsamount">£40.00</p>
                        </div>
                        <div class="subpage__sustaindetailsinner">
                            <label class="subpage__sustaindetailslabel">Start Date</label>
                            <p class="subpage__sustaindetailsamount">30/06/2018</p>
                        </div>
                        <div class="subpage__sustaindetailsinner mar-bt--25">
                            <label class="subpage__sustaindetailslabel">End Date</label>
                            <p class="subpage__sustaindetailsamount">25/12/2019</p>
                        </div>
                        <hr/>
                        <div class="subpage__sustaindetailsinner pad-tp--10">
                            <button class="subpage__sustainselectbutton">Select</button>
                            <button class="subpage__sustaineditbutton">
                                <i class="subpage__sustainediticon"></i>
                                Edit
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="subpage__sustainbuttons">
                <button class="subpage__createarrangebutton" onclick="showhideblocks('createarrangement', 'generatearrangement')">Create Arrangement</button>
                <button class="subpage__previewschedulebutton">Preview Schedule</button>
            </div>
        </div>
        <div class="clear--both"></div>
    </div>
</div>
<div id="createarrangement">
    <div class="subpage__arrangebox">
        <div class="subpage__arrangeboxinner">
            <h5 class="subpage__createarrange">Create New Arrangement</h5>
            <div class="subpage__arrangeprogresscont">
                <div class="subpage__arrangeprogress">
                    <div class="subpage__arrangeprogressline"> </div>
                    <div class="subpage__arrangetask progress--complete">
                        <label class="subpage__arrangetaskinfo">Create</label>
                        <span class="subpage__arrangetaskcircle"></span>
                    </div>
                    <div class="subpage__arrangetask aln-at--middle progress--active">
                        <label class="subpage__arrangetaskinfo">Review</label>
                        <span class="subpage__arrangetaskcircle"></span>
                    </div>
                    <div class="subpage__arrangetask aln-at--end">
                        <label class="subpage__arrangetaskinfo">Complete</label>
                        <span class="subpage__arrangetaskcircle"></span>
                    </div>
                </div>
            </div>
            <div class="clear--both"></div>
            <h5 class="subpage__arrangetypedesc mar-tp--100">Review Instalment Arrangement Plan</h5>
            <div class="subpage__arrangereviewcont">
                <div class="subpage__arrangereview">
                    <h6 class="subpage__arrangereviewhead">Instalment Plan Details</h6>
                    <div class="subpage__arrangereviewblock">
                        <div class="subpage__arrangereviewlist">
                            <label class="subpage__arrangereviewlabel">Type of Arrangement</label>
                            <p class="subpage__arrangereviewvalue">Installment</p>
                        </div>
                        <div class="subpage__arrangereviewlist">
                            <label class="subpage__arrangereviewlabel">Requirement</label>
                            <p class="subpage__arrangereviewvalue">Monthly</p>
                        </div>
                    </div>
                    <div class="subpage__arrangereviewblock">
                        <div class="subpage__arrangereviewlist">
                            <label class="subpage__arrangereviewlabel">Current Balance</label>
                            <p class="subpage__arrangereviewvalue">£6,100.00</p>
                        </div>
                        <div class="subpage__arrangereviewlist">
                            <label class="subpage__arrangereviewlabel">Agreed Final Balance</label>
                            <p class="subpage__arrangereviewvalue">£500.00</p>
                        </div>
                        <div class="subpage__arrangereviewlist">
                            <label class="subpage__arrangereviewlabel">Agreed Start Balance</label>
                            <p class="subpage__arrangereviewvalue">£6,100.00</p>
                        </div>
                    </div>
                    <div class="subpage__arrangereviewblock">
                        <div class="subpage__arrangereviewlist">
                            <label class="subpage__arrangereviewlabel">Initial Reduction</label>
                            <p class="subpage__arrangereviewvalue">£3,500.00</p>
                        </div>
                        <div class="subpage__arrangereviewlist">
                            <label class="subpage__arrangereviewlabel">Date</label>
                            <p class="subpage__arrangereviewvalue">21/06/2018</p>
                        </div>
                    </div>
                    <div class="subpage__arrangereviewblock">
                        <div class="subpage__arrangereviewlist">
                            <label class="subpage__arrangereviewlabel">Periodic Reduction</label>
                            <p class="subpage__arrangereviewvalue">£500.00</p>
                        </div>
                        <div class="subpage__arrangereviewlist">
                            <label class="subpage__arrangereviewlabel">Duration (Month)</label>
                            <p class="subpage__arrangereviewvalue">10</p>
                        </div>
                        <div class="subpage__arrangereviewlist">
                            <label class="subpage__arrangereviewlabel">Start Date</label>
                            <p class="subpage__arrangereviewvalue">30/06/2018</p>
                        </div>
                        <div class="subpage__arrangereviewlist">
                            <label class="subpage__arrangereviewlabel">End Date</label>
                            <p class="subpage__arrangereviewvalue">25/09/2019</p>
                        </div>
                    </div>
                    <div class="subpage__arrangereviewblock">
                        <button class="subpage__arrangereviewbtn">Preview Letter</button>
                        <button class="subpage__arrangereviewbtn">Preview Schedule</button>
                    </div>
                </div>
            </div>
            <h5 class="subpage__createarrange">Send Arrangement to:</h5>
            <table class="subpage__sendarrangetbl">
                <tr class="subpage__sendarrangerow">
                    <td class="subpage__sendarrangecol txt-aln--rt">
                        <input class="checkbox pull--left" type="checkbox" name ="sendarrangement"/>
                    </td>
                    <td class="subpage__sendarrangecol">
                        <span>Address (HOME)</span>
                        15a Smith Close, Burbury, South Yorkshire, S82 6JK 
                    </td>
                </tr>
                <tr class="subpage__sendarrangerow row--selected">
                    <td class="subpage__sendarrangecol txt-aln--rt">
                        <input class="checkbox pull--left" checked="checked" type="checkbox" name ="sendarrangement"/>
                    </td>
                    <td class="subpage__sendarrangecol">
                        <span>Email</span>
                        james.brown9@gmail.com
                    </td>
                </tr>
            </table>
            <div class="subpage__arrangereviewbtns">
                <button class="subpage__arrangereviewcmptbtn" onclick="showhideblocks('completearrangement', 'createarrangement')">Complete</button>
            </div>
            <div class="clear--both"></div>
        </div>
    </div>
</div>
<div id="completearrangement">
    <h5 class="subpage__createarrange">Create New Arrangement</h5>
    <div class="subpage__arrangeprogresscont">
        <div class="subpage__arrangeprogress">
            <div class="subpage__arrangeprogressline"> </div>
            <div class="subpage__arrangetask progress--complete">
                <label class="subpage__arrangetaskinfo">Create</label>
                <span class="subpage__arrangetaskcircle"></span>
            </div>
            <div class="subpage__arrangetask aln-at--middle progress--complete">
                <label class="subpage__arrangetaskinfo">Review</label>
                <span class="subpage__arrangetaskcircle"></span>
            </div>
            <div class="subpage__arrangetask aln-at--end progress--complete">
                <label class="subpage__arrangetaskinfo">Complete</label>
                <span class="subpage__arrangetaskcircle"></span>
            </div>
        </div>
    </div>
    <div class="subpage__arrangesetup">
        <h5 class="subpage__createarrange">New Arrangement has been set up</h5>
        <p class="subpage__arrangesetupdesc">The Timeline and Account Summary have been updated with the following:</p>
        <ul class="subpage__arrangesetupcont">
            <li class="subpage__arrangesetuplist">
                <input class="subpage__arrangesetupinput roundedcheckbox" checked="checked" type="checkbox" class="" name="arrangesetup" />
                <label class="subpage__arrangesetuplabel">Arrangement Schedule</label>
            </li>
            <li class="subpage__arrangesetuplist">
                <input class="subpage__arrangesetupinput roundedcheckbox" checked="checked" type="checkbox" class="" name="arrangesetup" />
                <label class="subpage__arrangesetuplabel">Arrangement document</label>
            </li>
        </ul>
    </div>
    <div class="subpage__arrangereviewbtns">
        <button class="subpage__arrangereviewcmptbtn">Back to Account</button>
    </div>
</div>