<div id="arrangementinitial">
    <div class="subpage__arrangebox">
        <div class="subpage__arrangeboxinner">
            <h5 class="subpage__createarrange">Create New Arrangement</h5>
            <div class="subpage__arrangeprogresscont">
                <div class="subpage__arrangeprogress">
                    <div class="subpage__arrangeprogressline"> </div>
                    <div class="subpage__arrangetask progress--active">
                        <label class="subpage__arrangetaskinfo">Create</label>
                        <span class="subpage__arrangetaskcircle"></span>
                    </div>
                    <div class="subpage__arrangetask aln-at--middle">
                        <label class="subpage__arrangetaskinfo">Review</label>
                        <span class="subpage__arrangetaskcircle"></span>
                    </div>
                    <div class="subpage__arrangetask aln-at--end">
                        <label class="subpage__arrangetaskinfo">Complete</label>
                        <span class="subpage__arrangetaskcircle"></span>
                    </div>
                </div>
            </div>
            <div class="clear--both"></div>
            <div class="subpage__arrangeform">
                <ul class="subpage__arrangeforminner">
                    <li class="subpage__arrangeformlist">
                        <label class="subpage__arrangeformlabel">Type of Arrangement</label>
                    </li>
                    <li>
                        <eds-dropdown class="subpage__arrangeformselect eds pull--left">
                            <label class="style-scope eds-dropdown">Reducing Balance</label>
                            <div class="eds-dropdown-trigger style-scope eds-dropdown" tabindex="-1">
                                <span class="eds-dropdown-value style-scope eds-dropdown">Reducing Balance</span>
                                <span class="eds-dropdown-placeholder style-scope eds-dropdown"></span>
                                <span class="eds-dropdown-arrow style-scope eds-dropdown"></span>
                            </div>
                        </eds-dropdown>
                    </li>
                    <li class="subpage__arrangeformlist">
                        <label class="search__daylabel">
                            Promise to Pay
                            <input class="search__dayinput" type="radio" checked="checked" name="statsday" />
                            <span class="search__daycheckmark"></span>
                        </label>
                    </li>
                    <li class="subpage__arrangeformlist">
                        <label class="search__daylabel">
                            Variable
                            <input class="search__dayinput" type="radio" name="statsday" />
                            <span class="search__daycheckmark"></span>
                        </label>
                    </li>
                    <li class="subpage__arrangeformlist">
                        <label class="search__daylabel">
                            Monthly
                            <input class="search__dayinput" type="radio" name="statsday" />
                            <span class="search__daycheckmark"></span>
                        </label>
                    </li>
                    <li class="subpage__arrangeformlist">
                        <label class="search__daylabel">
                            Fortnightly
                            <input class="search__dayinput" type="radio" name="statsday" />
                            <span class="search__daycheckmark"></span>
                        </label>
                    </li>
                    <li class="subpage__arrangeformlist">
                        <label class="search__daylabel">
                            Weekly
                            <input class="search__dayinput" type="radio" name="statsday" />
                            <span class="search__daycheckmark"></span>
                        </label>
                    </li>
                    <li class="clear"></li>
                    <li class="subpage__arrangeformlist subpage--onebyfour">
                        <label class="subpage__arrangeformlabel">Amount of Arrears</label>
                        <span class="subpage__arrangeoverlabel">£</span>
                        <input class="subpage__arrangeforminput pad-lt--50" type="text" value="6,100.00" />
                    </li>
                    <li class="subpage__arrangeformlist subpage--onebyfour">
                        <label class="subpage__arrangeformlabel">Agreed Final Balance</label>
                        <span class="subpage__arrangeoverlabel">£</span>
                        <input class="subpage__arrangeforminput pad-lt--50" type="text" value="440.00" />
                    </li>
                    <li class="subpage__arrangeformlist subpage--onebyfour">
                        <label class="subpage__arrangeformlabel">Agreed Start Balance</label>
                        <i class="icon--arrcalendar"></i>
                        <input class="subpage__arrangeforminput" type="text" value="Dec 16, 2019" />
                    </li>
                    <li class="subpage__arrangeformlist subpage--onebyfour mar-rt--none">
                        <label class="subpage__arrangeformlabel">Agreed Start Balance</label>
                        <eds-dropdown class="subpage__arrangeformselect eds pull--left">
                            <label class="style-scope eds-dropdown">6</label>
                            <div class="eds-dropdown-trigger style-scope eds-dropdown" tabindex="-1">
                                <span class="eds-dropdown-value style-scope eds-dropdown">6</span>
                                <span class="eds-dropdown-placeholder style-scope eds-dropdown"></span>
                                <span class="eds-dropdown-arrow style-scope eds-dropdown"></span>
                            </div>
                        </eds-dropdown>
                    </li>
                    <li class="subpage__arrangeformlist wdh-per--100">
                        <hr/>
                    </li>
                    <li class="subpage__arrangeformlist wdh-per--100">
                        <button class="subpage__arrangeformbuton" onclick="showhideblocks('generatearrangement', 'arrangementinitial')">Generate Agreement</button>
                    </li>
                </ul>
            </div>
            <div class="clear--both"></div>
        </div>
    </div>
</div>
<div id="generatearrangement">
    <div class="subpage__arrangebox">
        <div class="subpage__arrangeboxinner">
            <h5 class="subpage__createarrange">Create New Arrangement</h5>
            <div class="subpage__arrangeprogresscont">
                <div class="subpage__arrangeprogress">
                    <div class="subpage__arrangeprogressline"> </div>
                    <div class="subpage__arrangetask progress--active">
                        <label class="subpage__arrangetaskinfo">Create</label>
                        <span class="subpage__arrangetaskcircle"></span>
                    </div>
                    <div class="subpage__arrangetask aln-at--middle">
                        <label class="subpage__arrangetaskinfo">Review</label>
                        <span class="subpage__arrangetaskcircle"></span>
                    </div>
                    <div class="subpage__arrangetask aln-at--end">
                        <label class="subpage__arrangetaskinfo">Complete</label>
                        <span class="subpage__arrangetaskcircle"></span>
                    </div>
                </div>
            </div>
            <div class="clear--both"></div>
            <div class="subpage__arrangetype">Arrangement Type</div>
            <div class="subpage__sustaincont">
                <div class="subpage__sustainlist">
                    <div class="subpage__sustainhead">
                        <span class="subpage__sustainnumber">1</span>
                        <h6 class="subpage__sustainheading">Arrangement</h6>
                        <p class="subpage__sustaindesc">50% sustainability</p>
                    </div>
                    <div class="subpage__sustaintime">
                        Interest over time: £150.00
                    </div>
                    <div class="subpage__sustaindetails">
                        <div class="subpage__sustaindetailsinner">
                            <label class="subpage__sustaindetailslabel">Initial Reduction</label>
                            <p class="subpage__sustaindetailsamount">£4,500.00</p>
                        </div>
                        <div class="subpage__sustaindetailsinner">
                            <label class="subpage__sustaindetailslabel">Date</label>
                            <p class="subpage__sustaindetailsamount">21/06/2018</p>
                        </div>
                        <div class="subpage__sustaindetailsinner">
                            <label class="subpage__sustaindetailslabel">Periodic Reduction</label>
                            <p class="subpage__sustaindetailsamount">£600.00</p>
                        </div>
                        <div class="subpage__sustaindetailsinner">
                            <label class="subpage__sustaindetailslabel">Period of (PCM)</label>
                            <p class="subpage__sustaindetailsamount">£60.00</p>
                        </div>
                        <div class="subpage__sustaindetailsinner">
                            <label class="subpage__sustaindetailslabel">Start</label>
                            <p class="subpage__sustaindetailsamount">30/06/2018</p>
                        </div>
                        <div class="subpage__sustaindetailsinner">
                            <label class="subpage__sustaindetailslabel">End</label>
                            <p class="subpage__sustaindetailsamount">25/03/2019</p>
                        </div>
                        <div class="subpage__sustaindetailsinner">
                            <button class="subpage__sustainselectbutton">Select</button>
                            <button class="subpage__sustaineditbutton">Edit</button>
                        </div>
                    </div>
                </div>
                <div class="subpage__sustainlist sustain--active">
                    <div class="subpage__sustainhead">
                        <span class="subpage__sustainnumber">2</span>
                        <h6 class="subpage__sustainheading">Arrangement</h6>
                        <p class="subpage__sustaindesc">80% sustainability</p>
                    </div>
                    <div class="subpage__sustaintime">
                        Interest over time: £200.00
                    </div>
                    <div class="subpage__sustaindetails">
                        <div class="subpage__sustaindetailsinner">
                            <label class="subpage__sustaindetailslabel">Initial Reduction</label>
                            <p class="subpage__sustaindetailsamount">£3,000.00</p>
                        </div>
                        <div class="subpage__sustaindetailsinner">
                            <label class="subpage__sustaindetailslabel">Date</label>
                            <p class="subpage__sustaindetailsamount">21/06/2018</p>
                        </div>
                        <div class="subpage__sustaindetailsinner">
                            <label class="subpage__sustaindetailslabel">Periodic Reduction</label>
                            <p class="subpage__sustaindetailsamount">£500.00</p>
                        </div>
                        <div class="subpage__sustaindetailsinner">
                            <label class="subpage__sustaindetailslabel">Period of (PCM)</label>
                            <p class="subpage__sustaindetailsamount">£50.00</p>
                        </div>
                        <div class="subpage__sustaindetailsinner">
                            <label class="subpage__sustaindetailslabel">Start</label>
                            <p class="subpage__sustaindetailsamount">30/06/2018</p>
                        </div>
                        <div class="subpage__sustaindetailsinner">
                            <label class="subpage__sustaindetailslabel">End</label>
                            <p class="subpage__sustaindetailsamount">25/09/2019</p>
                        </div>
                        <div class="subpage__sustaindetailsinner">
                            <button class="subpage__sustainselectbutton">Selected</button>
                            <button class="subpage__sustaineditbutton">Edit</button>
                        </div>
                    </div>
                </div>
                <div class="subpage__sustainlist mar-rt--none">
                    <div class="subpage__sustainhead">
                        <span class="subpage__sustainnumber">3</span>
                        <h6 class="subpage__sustainheading">Arrangement</h6>
                        <p class="subpage__sustaindesc">83% sustainability</p>
                    </div>
                    <div class="subpage__sustaintime">
                        Interest over time: £250.00
                    </div>
                    <div class="subpage__sustaindetails">
                        <div class="subpage__sustaindetailsinner">
                            <label class="subpage__sustaindetailslabel">Initial Reduction</label>
                            <p class="subpage__sustaindetailsamount">£2,500.00</p>
                        </div>
                        <div class="subpage__sustaindetailsinner">
                            <label class="subpage__sustaindetailslabel">Date</label>
                            <p class="subpage__sustaindetailsamount">21/06/2018</p>
                        </div>
                        <div class="subpage__sustaindetailsinner">
                            <label class="subpage__sustaindetailslabel">Periodic Reduction</label>
                            <p class="subpage__sustaindetailsamount">£400.00</p>
                        </div>
                        <div class="subpage__sustaindetailsinner">
                            <label class="subpage__sustaindetailslabel">Period of (PCM)</label>
                            <p class="subpage__sustaindetailsamount">£40.00</p>
                        </div>
                        <div class="subpage__sustaindetailsinner">
                            <label class="subpage__sustaindetailslabel">Start</label>
                            <p class="subpage__sustaindetailsamount">30/06/2018</p>
                        </div>
                        <div class="subpage__sustaindetailsinner">
                            <label class="subpage__sustaindetailslabel">End</label>
                            <p class="subpage__sustaindetailsamount">25/12/2019</p>
                        </div>
                        <div class="subpage__sustaindetailsinner">
                            <button class="subpage__sustainselectbutton">Select</button>
                            <button class="subpage__sustaineditbutton">Edit</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="subpage__sustainbuttons">
                <button class="subpage__createarrangebutton" onclick="showhideblocks('createarrangement', 'arrangementinitial')">Create Arrangement</button>
                <button class="subpage__previewschedulebutton">Preview Schedule</button>
            </div>
        </div>
        <div class="clear--both"></div>
    </div>
</div>
<div id="createarrangement">
    <h5 class="subpage__createarrange">Create New Arrangement</h5>
    <div class="subpage__arrangeprogresscont">
        <div class="subpage__arrangeprogress">
            <div class="subpage__arrangeprogressline"> </div>
            <div class="subpage__arrangetask progress--complete">
                <label class="subpage__arrangetaskinfo">Create</label>
                <span class="subpage__arrangetaskcircle"></span>
            </div>
            <div class="subpage__arrangetask aln-at--middle progress--active">
                <label class="subpage__arrangetaskinfo">Review</label>
                <span class="subpage__arrangetaskcircle"></span>
            </div>
            <div class="subpage__arrangetask aln-at--end">
                <label class="subpage__arrangetaskinfo">Complete</label>
                <span class="subpage__arrangetaskcircle"></span>
            </div>
        </div>
    </div>
    <div class="subpage__arrangereviewcont">
        <div class="subpage__arrangereview">
            <h6 class="subpage__arrangereviewhead">Current</h6>
            <div class="subpage__arrangereviewblock">
                <div class="subpage__arrangereviewlist">
                    <label class="subpage__arrangereviewlabel">Type of Arrangement</label>
                    <p class="subpage__arrangereviewvalue">Installment</p>
                </div>
                <div class="subpage__arrangereviewlist">
                    <label class="subpage__arrangereviewlabel">Requirement</label>
                    <p class="subpage__arrangereviewvalue">Monthly</p>
                </div>
            </div>
            <div class="subpage__arrangereviewblock">
                <div class="subpage__arrangereviewlist">
                    <label class="subpage__arrangereviewlabel">Current Balance</label>
                    <p class="subpage__arrangereviewvalue">6,100.00</p>
                </div>
                <div class="subpage__arrangereviewlist">
                    <label class="subpage__arrangereviewlabel">Arrangement Amount</label>
                    <p class="subpage__arrangereviewvalue">400.00</p>
                </div>
                <div class="subpage__arrangereviewlist">
                    <label class="subpage__arrangereviewlabel">Payment Type</label>
                    <p class="subpage__arrangereviewvalue">Direct Debit</p>
                </div>
            </div>
            <div class="subpage__arrangereviewblock">
                <div class="subpage__arrangereviewlist">
                    <label class="subpage__arrangereviewlabel">Initial Payment Rate</label>
                    <p class="subpage__arrangereviewvalue">50.00</p>
                </div>
                <div class="subpage__arrangereviewlist">
                    <label class="subpage__arrangereviewlabel">Date</label>
                    <p class="subpage__arrangereviewvalue">21/06/2018</p>
                </div>
            </div>
            <div class="subpage__arrangereviewblock">
                <div class="subpage__arrangereviewlist">
                    <label class="subpage__arrangereviewlabel">Number of Installments</label>
                    <p class="subpage__arrangereviewvalue">7</p>
                </div>
                <div class="subpage__arrangereviewlist">
                    <label class="subpage__arrangereviewlabel">Installment Amount</label>
                    <p class="subpage__arrangereviewvalue">475.00</p>
                </div>
                <div class="subpage__arrangereviewlist">
                    <label class="subpage__arrangereviewlabel">Start</label>
                    <p class="subpage__arrangereviewvalue">30/06/2018</p>
                </div>
                <div class="subpage__arrangereviewlist">
                    <label class="subpage__arrangereviewlabel">End</label>
                    <p class="subpage__arrangereviewvalue">25/09/2019</p>
                </div>
                <div class="subpage__arrangereviewlist">
                    <label class="subpage__arrangereviewlabel">Odd Payment Amount</label>
                    <p class="subpage__arrangereviewvalue">450.00</p>
                </div>
                <div class="subpage__arrangereviewlist">
                    <label class="subpage__arrangereviewlabel">Collect Odd Payment</label>
                    <p class="subpage__arrangereviewvalue">First Installment</p>
                </div>
            </div>
        </div>
        <div class="subpage__arrangereview">
            <div class="subpage__arrangereviewoutline"> </div>
            <h6 class="subpage__arrangereviewhead">New</h6>
            <div class="subpage__arrangereviewblock">
                <div class="subpage__arrangereviewlist">
                    <label class="subpage__arrangereviewlabel">Type of Arrangement</label>
                    <p class="subpage__arrangereviewvalue">Reducing Balance</p>
                </div>
                <div class="subpage__arrangereviewlist">
                    <label class="subpage__arrangereviewlabel">Requirement</label>
                    <p class="subpage__arrangereviewvalue">Monthly</p>
                </div>
            </div>
            <div class="subpage__arrangereviewblock">
                <div class="subpage__arrangereviewlist">
                    <label class="subpage__arrangereviewlabel">Current Balance</label>
                    <p class="subpage__arrangereviewvalue">6,100.00</p>
                </div>
                <div class="subpage__arrangereviewlist">
                    <label class="subpage__arrangereviewlabel">Agreed Final Balance</label>
                    <p class="subpage__arrangereviewvalue">500.00</p>
                </div>
                <div class="subpage__arrangereviewlist">
                    <label class="subpage__arrangereviewlabel">Agreed Start Balance</label>
                    <p class="subpage__arrangereviewvalue">6,100.00</p>
                </div>
            </div>
            <div class="subpage__arrangereviewblock">
                <div class="subpage__arrangereviewlist">
                    <label class="subpage__arrangereviewlabel">Initial Reduction</label>
                    <p class="subpage__arrangereviewvalue">3,500.00</p>
                </div>
                <div class="subpage__arrangereviewlist">
                    <label class="subpage__arrangereviewlabel">Date</label>
                    <p class="subpage__arrangereviewvalue">21/06/2018</p>
                </div>
            </div>
            <div class="subpage__arrangereviewblock">
                <div class="subpage__arrangereviewlist">
                    <label class="subpage__arrangereviewlabel">Periodic Reduction</label>
                    <p class="subpage__arrangereviewvalue">500.00</p>
                </div>
                <div class="subpage__arrangereviewlist">
                    <label class="subpage__arrangereviewlabel">Duration (Month)</label>
                    <p class="subpage__arrangereviewvalue">10</p>
                </div>
                <div class="subpage__arrangereviewlist">
                    <label class="subpage__arrangereviewlabel">Start</label>
                    <p class="subpage__arrangereviewvalue">30/06/2018</p>
                </div>
                <div class="subpage__arrangereviewlist">
                    <label class="subpage__arrangereviewlabel">End</label>
                    <p class="subpage__arrangereviewvalue">25/09/2019</p>
                </div>
                <div class="subpage__arrangereviewlist">
                    <label class="subpage__arrangereviewlabel">&nbsp;</label>
                    <p class="subpage__arrangereviewvalue">&nbsp;</p>
                </div>
                <div class="subpage__arrangereviewlist">
                    <label class="subpage__arrangereviewlabel">&nbsp;</label>
                    <p class="subpage__arrangereviewvalue">&nbsp;</p>
                </div>
            </div>
        </div>
    </div>
    <div class="subpage__arrangereviewbtns">
        <button class="subpage__arrangereviewbtn mar-lt--25">Preview Letter</button>
        <button class="subpage__arrangereviewbtn">Preview Schedule</button>
    </div>
    <h5 class="subpage__createarrange">Send Arrangement to:</h5>
    <table class="subpage__sendarrangetbl">
        <tr class="subpage__sendarrangerow">
            <td class="subpage__sendarrangecol txt-aln--rt">
                <input class="checkbox" type="checkbox" name ="sendarrangement"/>
            </td>
            <td class="subpage__sendarrangecol">
                Address (HOME)
            </td>
            <td class="subpage__sendarrangecol">
                99 The Street Oldtown Yorkshire LS27 0JG 
            </td>
        </tr>
        <tr class="subpage__sendarrangerow row--selected">
            <td class="subpage__sendarrangecol txt-aln--rt">
                <input class="checkbox" checked="checked" type="checkbox" name ="sendarrangement"/>
            </td>
            <td class="subpage__sendarrangecol">
                Email
            </td>
            <td class="subpage__sendarrangecol">
                james.brown@gmail.com
            </td>
        </tr>
    </table>
    <div class="subpage__arrangereviewbtns">
        <button class="subpage__arrangereviewcmptbtn" onclick="showhideblocks('completearrangement', 'createarrangement')">Complete</button>
    </div>
</div>
<div id="completearrangement">
    <h5 class="subpage__createarrange">Create New Arrangement</h5>
    <div class="subpage__arrangeprogresscont">
        <div class="subpage__arrangeprogress">
            <div class="subpage__arrangeprogressline"> </div>
            <div class="subpage__arrangetask progress--complete">
                <label class="subpage__arrangetaskinfo">Create</label>
                <span class="subpage__arrangetaskcircle"></span>
            </div>
            <div class="subpage__arrangetask aln-at--middle progress--complete">
                <label class="subpage__arrangetaskinfo">Review</label>
                <span class="subpage__arrangetaskcircle"></span>
            </div>
            <div class="subpage__arrangetask aln-at--end progress--complete">
                <label class="subpage__arrangetaskinfo">Complete</label>
                <span class="subpage__arrangetaskcircle"></span>
            </div>
        </div>
    </div>
    <div class="subpage__arrangesetup">
        <h5 class="subpage__createarrange">New Arrangement has been set up</h5>
        <p class="subpage__arrangesetupdesc">The Timeline and Account Summary have been updated with the following:</p>
        <ul class="subpage__arrangesetupcont">
            <li class="subpage__arrangesetuplist">
                <input class="subpage__arrangesetupinput roundedcheckbox" checked="checked" type="checkbox" class="" name="arrangesetup" />
                <label class="subpage__arrangesetuplabel">Arrangement Schedule</label>
            </li>
            <li class="subpage__arrangesetuplist">
                <input class="subpage__arrangesetupinput roundedcheckbox" checked="checked" type="checkbox" class="" name="arrangesetup" />
                <label class="subpage__arrangesetuplabel">Arrangement document</label>
            </li>
        </ul>
    </div>
    <div class="subpage__arrangereviewbtns">
        <button class="subpage__arrangereviewcmptbtn">Back to Account</button>
    </div>
</div>