<div id="generatearrangement">
    <div class="subpage__arrangebox">
        <div class="subpage__arrangeboxinner">
            <h5 class="subpage__createarrange">Create New Arrangement</h5>
            <div class="subpage__arrangeprogresscont">
                <div class="subpage__arrangeprogress">
                    <div class="subpage__arrangeprogressline"> </div>
                    <div class="subpage__arrangetask progress--active">
                        <label class="subpage__arrangetaskinfo">Create</label>
                        <span class="subpage__arrangetaskcircle"></span>
                    </div>
                    <div class="subpage__arrangetask aln-at--middle">
                        <label class="subpage__arrangetaskinfo">Review</label>
                        <span class="subpage__arrangetaskcircle"></span>
                    </div>
                    <div class="subpage__arrangetask aln-at--end">
                        <label class="subpage__arrangetaskinfo">Complete</label>
                        <span class="subpage__arrangetaskcircle"></span>
                    </div>
                </div>
            </div>
            <div class="clear--both"></div>
            <div class="subpage__arrangetype">
                <span class="subpage__downarrow"></span>
                Arrangement Type
            </div>
            <h5 class="subpage__arrangetypedesc">The Monthly Arrangements we can offer you:</h5>
            <div class="subpage__sustaincont">
                <div class="subpage__sustainlist" onclick="selectArrangement(this)">
                    <div class="subpage__sustainhead">
                        <h6 class="subpage__sustainheading">Arrangement 1</h6>
                    </div>
                    <div class="subpage__sustaindetails">
                        <div class="subpage__sustaindetailsinner">
                            <label class="subpage__sustaindetailslabel">Initial Reduction</label>
                            <p class="subpage__sustaindetailsamount">£4,500.00</p>
                        </div>
                        <div class="subpage__sustaindetailsinner">
                            <label class="subpage__sustaindetailslabel">Date of Initial Reduction</label>
                            <p class="subpage__sustaindetailsamount">21/06/2018</p>
                        </div>
                        <div class="subpage__sustaindetailsinner">
                            <label class="subpage__sustaindetailslabel">Periodic Reduction</label>
                            <p class="subpage__sustaindetailsamount">£600.00</p>
                        </div>
                        <div class="subpage__sustaindetailsinner">
                            <label class="subpage__sustaindetailslabel">Payment Amount</label>
                            <p class="subpage__sustaindetailsamount">£60.00</p>
                        </div>
                        <div class="subpage__sustaindetailsinner">
                            <label class="subpage__sustaindetailslabel">Start Date</label>
                            <p class="subpage__sustaindetailsamount">30/06/2018</p>
                        </div>
                        <div class="subpage__sustaindetailsinner mar-bt--25">
                            <label class="subpage__sustaindetailslabel">End Date</label>
                            <p class="subpage__sustaindetailsamount">25/03/2019</p>
                        </div>
                        <hr/>
                        <div class="subpage__sustaindetailsinner pad-tp--10">
                            <button class="subpage__sustainselectbutton">Select</button>
                            <button class="subpage__sustaineditbutton">
                                <i class="subpage__sustainediticon"></i>
                                Edit
                            </button>
                        </div>
                    </div>
                </div>
                <div class="subpage__sustainlist" onclick="selectArrangement(this)">
                    <div class="subpage__sustainhead">
                        <h6 class="subpage__sustainheading">Arrangement 2</h6>
                    </div>
                    <div class="subpage__sustaindetails">
                        <div class="subpage__sustaindetailsinner">
                            <label class="subpage__sustaindetailslabel">Initial Reduction</label>
                            <p class="subpage__sustaindetailsamount">£3,000.00</p>
                        </div>
                        <div class="subpage__sustaindetailsinner">
                            <label class="subpage__sustaindetailslabel">Date of Initial Reduction</label>
                            <p class="subpage__sustaindetailsamount">21/06/2018</p>
                        </div>
                        <div class="subpage__sustaindetailsinner">
                            <label class="subpage__sustaindetailslabel">Periodic Reduction</label>
                            <p class="subpage__sustaindetailsamount">£500.00</p>
                        </div>
                        <div class="subpage__sustaindetailsinner">
                            <label class="subpage__sustaindetailslabel">Payment Amount</label>
                            <p class="subpage__sustaindetailsamount">£50.00</p>
                        </div>
                        <div class="subpage__sustaindetailsinner">
                            <label class="subpage__sustaindetailslabel">Start Date</label>
                            <p class="subpage__sustaindetailsamount">30/06/2018</p>
                        </div>
                        <div class="subpage__sustaindetailsinner mar-bt--25">
                            <label class="subpage__sustaindetailslabel">End Date</label>
                            <p class="subpage__sustaindetailsamount">25/09/2019</p>
                        </div>
                        <hr/>
                        <div class="subpage__sustaindetailsinner pad-tp--10">
                            <button class="subpage__sustainselectbutton">Selected</button>
                            <button class="subpage__sustaineditbutton">
                                <i class="subpage__sustainediticon"></i>
                                Edit
                            </button>
                        </div>
                    </div>
                </div>
                <div class="subpage__sustainlist mar-rt--none" onclick="selectArrangement(this)">
                    <div class="subpage__sustainhead">
                        <h6 class="subpage__sustainheading">Arrangement 3</h6>
                    </div>
                    <div class="subpage__sustaindetails">
                        <div class="subpage__sustaindetailsinner">
                            <label class="subpage__sustaindetailslabel">Initial Reduction</label>
                            <p class="subpage__sustaindetailsamount">£2,500.00</p>
                        </div>
                        <div class="subpage__sustaindetailsinner">
                            <label class="subpage__sustaindetailslabel">Date of Initial Reduction</label>
                            <p class="subpage__sustaindetailsamount">21/06/2018</p>
                        </div>
                        <div class="subpage__sustaindetailsinner">
                            <label class="subpage__sustaindetailslabel">Periodic Reduction</label>
                            <p class="subpage__sustaindetailsamount">£400.00</p>
                        </div>
                        <div class="subpage__sustaindetailsinner">
                            <label class="subpage__sustaindetailslabel">Payment Amount</label>
                            <p class="subpage__sustaindetailsamount">£40.00</p>
                        </div>
                        <div class="subpage__sustaindetailsinner">
                            <label class="subpage__sustaindetailslabel">Start Date</label>
                            <p class="subpage__sustaindetailsamount">30/06/2018</p>
                        </div>
                        <div class="subpage__sustaindetailsinner mar-bt--25">
                            <label class="subpage__sustaindetailslabel">End Date</label>
                            <p class="subpage__sustaindetailsamount">25/12/2019</p>
                        </div>
                        <hr/>
                        <div class="subpage__sustaindetailsinner pad-tp--10">
                            <button class="subpage__sustainselectbutton">Select</button>
                            <button class="subpage__sustaineditbutton">
                                <i class="subpage__sustainediticon"></i>
                                Edit
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="subpage__sustainbuttons">
                <button class="subpage__createarrangebutton" disabled onclick="showhideblocks('createarrangement', 'generatearrangement')">Create Arrangement</button>
                <button class="subpage__previewschedulebutton">Preview Schedule</button>
            </div>
        </div>
        <div class="clear--both"></div>
    </div>
</div>