<eds-accordion id="arrearPanel" class="greyHeading eds marginBtm20" background="white" role="tablist"
    tabindex="-1" aria-hidden="false">
    <eds-accordion-panel label="Arrears Information" expandedlabel="Arrears Information"
        active="" role="tab">
        <!-- Krunal code -->
        <h5 id="arrearHeading" class="eds-accordion-label cur--auto" tabindex="0">
            <span class="eds-accordion-label-text"> Arrears Information </span>
            <span class="eds-accordion-label-text"> Arrears Information </span>
            <span class="eds-accordion-caret"></span>
        </h5>
        <div class="table">
            <div class="row">
                <div class="cell--span-2">
                    Delinquency History (Last 12 Months)
                    <span class="arrears__data">(01-06) 3 2 1 0 0 0</span>
                    <span class="arrears__data">(01-06) 3 2 1 0 0 0</span>
                </div>
            </div>
            <div class="row">
                <div class="cell--span-2">
                    Last Reason for Arrears
                    <span class="arrears__data">Illness</span>
                </div>
            </div>
            <div class="row">
                <div class="cell--span-2">
                    Last Reason for Overlimit
                    <span class="arrears__data">Unexpected Expense</span>
                </div>
            </div>
        </div>
    </eds-accordion-panel>
</eds-accordion>