<div class="casetable">
    <h3 class="casetable__heading">Cases viewed today</h3>
    <div class="casetable__headtbl">
        <table class="casetable__tbl bor-tp--none">
            <thead class="casetable__tblhead">
                <tr class="casetable__tblhdrow">
                    <th class="casetable__tblhdcol wdh-per--10 bor-tp--none">
                        Account ID
                        <span class="casetable__tblsorticon"></span>
                    </th>
                    <th class="casetable__tblhdcol wdh-per--25 bor-tp--none">
                        Persons
                        <span class="casetable__tblsorticon"></span>
                    </th>
                    <th class="casetable__tblhdcol wdh-per--10 bor-tp--none">
                        Balance
                        <span class="casetable__tblsorticon"></span>
                    </th>
                    <th class="casetable__tblhdcol wdh-per--10 bor-tp--none">
                        Total Due
                        <span class="casetable__tblsorticon"></span>
                    </th>
                    <th class="casetable__tblhdcol wdh-per--10 bor-tp--none">
                        Credit Limit
                        <span class="casetable__tblsorticon bor-tp--none"></span>
                    </th>
                    <th class="casetable__tblhdcol wdh-per--35 bor-tp--none">
                        Last Account Action
                        <span class="casetable__tblsorticon"></span>
                    </th>
                </tr>
            </thead>
        </table>
</div>
    <div class="casetable__tblcont">
        <table class="casetable__tbl mar-tp--0 bor-tpbt--none">
            <tbody class="casetable__tblbody">
                <tr class="casetable__tblbdyrow cur--pointer" onclick="gotoPage('accountsummary.html')">
                    <td class="casetable__tblbdycol wdh-per--10">
                        A1000010
                    </td>
                    <td class="casetable__tblbdycol wdh-per--25">
                        Richard Hedges
                    </td>
                    <td class="casetable__tblbdycol wdh-per--10 txt-aln--rt">
                        £2,046
                    </td>
                    <td class="casetable__tblbdycol wdh-per--10 txt-aln--rt">
                        £272.12
                    </td>
                    <td class="casetable__tblbdycol wdh-per--10 txt-aln--rt">
                        £3,460
                    </td>
                    <td class="casetable__tblbdycol wdh-per--35">
                        New Arrangement
                    </td>
                </tr>
                <tr class="casetable__tblbdyrow">
                    <td class="casetable__tblbdycol wdh-per--10">
                        A1000043
                    </td>
                    <td class="casetable__tblbdycol wdh-per--25">
                        James Brown
                    </td>
                    <td class="casetable__tblbdycol wdh-per--10 txt-aln--rt">
                        £2,046
                    </td>
                    <td class="casetable__tblbdycol wdh-per--10 txt-aln--rt">
                        £272.12
                    </td>
                    <td class="casetable__tblbdycol wdh-per--10 txt-aln--rt">
                        £3,460
                    </td>
                    <td class="casetable__tblbdycol wdh-per--35">
                        Request Sent: Increase customer credit limit by £500
                    </td>
                </tr>
                <tr class="casetable__tblbdyrow">
                    <td class="casetable__tblbdycol wdh-per--10">
                        A1000022
                    </td>
                    <td class="casetable__tblbdycol wdh-per--25">
                        Mark Benson
                    </td>
                    <td class="casetable__tblbdycol wdh-per--10 txt-aln--rt">
                        £2,046
                    </td>
                    <td class="casetable__tblbdycol wdh-per--10 txt-aln--rt">
                        £272.12
                    </td>
                    <td class="casetable__tblbdycol wdh-per--10 txt-aln--rt">
                        £3,460
                    </td>
                    <td class="casetable__tblbdycol wdh-per--35">
                        New Authorised Part added: Mrs Charlotte Racheal Branson
                    </td>
                </tr>
                <tr class="casetable__tblbdyrow">
                    <td class="casetable__tblbdycol wdh-per--10">
                        A1000103
                    </td>
                    <td class="casetable__tblbdycol wdh-per--25">
                        Mary Rose
                    </td>
                    <td class="casetable__tblbdycol wdh-per--10 txt-aln--rt">
                        £2,046
                    </td>
                    <td class="casetable__tblbdycol wdh-per--10 txt-aln--rt">
                        £272.12
                    </td>
                    <td class="casetable__tblbdycol wdh-per--10 txt-aln--rt">
                        £3,460
                    </td>
                    <td class="casetable__tblbdycol wdh-per--35">
                        New Arrangement
                    </td>
                </tr>
                <tr class="casetable__tblbdyrow">
                    <td class="casetable__tblbdycol wdh-per--10">
                        A1000025
                    </td>
                    <td class="casetable__tblbdycol wdh-per--25">
                        Sally Gibbs
                    </td>
                    <td class="casetable__tblbdycol wdh-per--10 txt-aln--rt">
                        £2,046
                    </td>
                    <td class="casetable__tblbdycol wdh-per--10 txt-aln--rt">
                        £272.12
                    </td>
                    <td class="casetable__tblbdycol wdh-per--10 txt-aln--rt">
                        £3,460
                    </td>
                    <td class="casetable__tblbdycol wdh-per--35">
                        Request Sent: Increase customer credit limit by £500 until the 22/09/2018
                    </td>
                </tr>
                <tr class="casetable__tblbdyrow">
                    <td class="casetable__tblbdycol wdh-per--10">
                        A1000006
                    </td>
                    <td class="casetable__tblbdycol wdh-per--25">
                        Robert Burgundy
                    </td>
                    <td class="casetable__tblbdycol wdh-per--10 txt-aln--rt">
                        £2,046
                    </td>
                    <td class="casetable__tblbdycol wdh-per--10 txt-aln--rt">
                        £272.12
                    </td>
                    <td class="casetable__tblbdycol wdh-per--10 txt-aln--rt">
                        £3,460
                    </td>
                    <td class="casetable__tblbdycol wdh-per--35">
                        New Authorised Part added: Mr David Robertson
                    </td>
                </tr>
                <tr class="casetable__tblbdyrow">
                    <td class="casetable__tblbdycol wdh-per--10">
                        A1000089
                    </td>
                    <td class="casetable__tblbdycol wdh-per--25">
                        Victoria Stone
                    </td>
                    <td class="casetable__tblbdycol wdh-per--10 txt-aln--rt">
                        £2,046
                    </td>
                    <td class="casetable__tblbdycol wdh-per--10 txt-aln--rt">
                        £272.12
                    </td>
                    <td class="casetable__tblbdycol wdh-per--10 txt-aln--rt">
                        £3,460
                    </td>
                    <td class="casetable__tblbdycol wdh-per--35">
                        New Arrangement
                    </td>
                </tr>
                <tr class="casetable__tblbdyrow">
                    <td class="casetable__tblbdycol wdh-per--10">
                        A1000088
                    </td>
                    <td class="casetable__tblbdycol wdh-per--25">
                        David Gently
                    </td>
                    <td class="casetable__tblbdycol wdh-per--10 txt-aln--rt">
                        £2,046
                    </td>
                    <td class="casetable__tblbdycol wdh-per--10 txt-aln--rt">
                        £272.12
                    </td>
                    <td class="casetable__tblbdycol wdh-per--10 txt-aln--rt">
                        £3,460
                    </td>
                    <td class="casetable__tblbdycol wdh-per--35">
                        Request Sent: Increase customer credit limit by £250
                    </td>
                </tr>
                <tr class="casetable__tblbdyrow">
                    <td class="casetable__tblbdycol wdh-per--10">
                        A1000012
                    </td>
                    <td class="casetable__tblbdycol wdh-per--25">
                        John Smythe
                    </td>
                    <td class="casetable__tblbdycol wdh-per--10 txt-aln--rt">
                        £2,046
                    </td>
                    <td class="casetable__tblbdycol wdh-per--10 txt-aln--rt">
                        £272.12
                    </td>
                    <td class="casetable__tblbdycol wdh-per--10 txt-aln--rt">
                        £3,460
                    </td>
                    <td class="casetable__tblbdycol wdh-per--35">
                        New Arrangement
                    </td>
                </tr>
                <tr class="casetable__tblbdyrow">
                    <td class="casetable__tblbdycol wdh-per--10">
                        A1000104
                    </td>
                    <td class="casetable__tblbdycol wdh-per--25">
                        Wesley Mantooth
                    </td>
                    <td class="casetable__tblbdycol wdh-per--10 txt-aln--rt">
                        £2,046
                    </td>
                    <td class="casetable__tblbdycol wdh-per--10 txt-aln--rt">
                        £272.12
                    </td>
                    <td class="casetable__tblbdycol wdh-per--10 txt-aln--rt">
                        £3,460
                    </td>
                    <td class="casetable__tblbdycol wdh-per--35">
                        New Arrangement
                    </td>
                </tr>
                <tr class="casetable__tblbdyrow">
                    <td class="casetable__tblbdycol wdh-per--10">
                        A1000104
                    </td>
                    <td class="casetable__tblbdycol wdh-per--25">
                        Wesley Mantooth
                    </td>
                    <td class="casetable__tblbdycol wdh-per--10 txt-aln--rt">
                        £2,046
                    </td>
                    <td class="casetable__tblbdycol wdh-per--10 txt-aln--rt">
                        £272.12
                    </td>
                    <td class="casetable__tblbdycol wdh-per--10 txt-aln--rt">
                        £3,460
                    </td>
                    <td class="casetable__tblbdycol wdh-per--35">
                        New Arrangement
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="casetable__pagination">
        <ul class="casetable__pagecont">
            <li class="casetable__pagelist">
                <a class="casetable__pagelink icon--previous" href="javascript:void(0);" title="Previous"></a>
            </li>
            <li class="casetable__pagelist">
                <a class="casetable__pagelink casetable--pagelinkactive" href="javascript:void(0);" title="1">1</a>
            </li>
            <li class="casetable__pagelist">
                <a class="casetable__pagelink" href="javascript:void(0);" title="2">2</a>
            </li>
            <li class="casetable__pagelist">
                <a class="casetable__pagelink" href="javascript:void(0);" title="3">3</a>
            </li>
            <li class="casetable__pagelist">
                <a class="casetable__pagelink icon--next" href="javascript:void(0);" title="Next"></a>
            </li>
        </ul>
        <div class="casetable__rowscont">
            <label class="casetable__rowslabel">Rows per page:</label>
            <select class="casetable__rowselect">
                <option>10</option>
                <option>20</option>
                <option>23</option>
            </select>
            <p class="casetable__totalpage">1-10 of 23</p>
        </div>
    </div>
</div>