<eds-accordion id="authorisedPanel" class="greyHeading eds borderradius--bottom-none"
    background="white" role="tablist" tabindex="-1" aria-hidden="false">
    <eds-accordion-panel label="Authorised Parties" expandedlabel="Authorised Parties" role="tab">
        <h5 id="authorisedHeading" class="eds-accordion-label cur--auto" tabindex="0">
            <span class="eds-accordion-label-text txt--display-inline labelsection__left">
                Authorised Parties </span>
            <span class="eds-accordion-add"></span>
            <span class="eds-accordion-label-text labelsection__right clr--blue txt--transform-none">Add</span>
        </h5>
    </eds-accordion-panel>
</eds-accordion>
<eds-accordion id="coownerPanel" class="greyHeading eds borderradius--top-none borderradius--bottom-none"
    background="white" role="tablist" tabindex="-1" aria-hidden="false">
    <eds-accordion-panel label="Account Co-Owner" expandedlabel="Account Co-Owner" role="tab">
        <h5 id="coownerHeading" class="eds-accordion-label cur--auto" tabindex="0">
            <span class="eds-accordion-label-text txt--display-inline labelsection__left">
                Account Co-Owner </span>
            <span class="eds-accordion-caret"></span>
        </h5>
    </eds-accordion-panel>
</eds-accordion>
<eds-accordion id="dcaPanel" class="greyHeading eds borderradius--top-none borderradius--bottom-none"
    background="white" role="tablist" tabindex="-1" aria-hidden="false">
    <eds-accordion-panel label="DCA" expandedlabel="DCA" role="tab">
        <h5 id="dcaHeading" class="eds-accordion-label cur--auto" tabindex="0">
            <span class="eds-accordion-label-text txt--display-inline labelsection__left">
                DCA </span>
            <span class="eds-accordion-caret"></span>
        </h5>
    </eds-accordion-panel>
</eds-accordion>
<eds-accordion id="dmcPanel" class="greyHeading eds borderradius--top-none borderradius--bottom-none"
    background="white" role="tablist" tabindex="-1" aria-hidden="false">
    <eds-accordion-panel label="DMC" expandedlabel="DMC" role="tab">
        <h5 id="dmcHeading" class="eds-accordion-label cur--auto" tabindex="0">
            <span class="eds-accordion-label-text txt--display-inline labelsection__left">
                DMC </span>
            <span class="eds-accordion-caret"></span>
        </h5>
    </eds-accordion-panel>
</eds-accordion>
<eds-accordion id="debtPanel" class="greyHeading eds borderradius--top-none" background="white"
    role="tablist" tabindex="-1" aria-hidden="false">
    <eds-accordion-panel label="Debt Purchaser" expandedlabel="Debt Purchaser" role="tab">
        <h5 id="debtHeading" class="eds-accordion-label cur--auto" tabindex="0">
            <span class="eds-accordion-label-text txt--display-inline labelsection__left">
                Debt Purchaser </span>
            <span class="eds-accordion-caret"></span>
        </h5>
    </eds-accordion-panel>
</eds-accordion>