<eds-accordion id="customerReviewSection" aria-hidden="false" background="gray" class="eds marginBtm20" role="tablist" tabindex="-1">
    <eds-accordion-panel label="James Brown" expandedlabel="James Brown" active="" role="tab">
        <h5 id="accountFirstHeading" class="eds-accordion-label active cur--auto" tabindex="0">
            <span class="eds-accordion-label-text">Mr James Brown</span>
            <i class="api-icon-element material-icons style-scope eds-icon eds-greyed">person</i>
            <span class="eds-accordion-label-text">Mr James Brown</span>
        </h5>
        <div class="table">
            <div class="row">
                <div class="cell">
                    Customer ID
                </div>
                <div class="cell">
                    P732678
                </div>
            </div>
            <div class="row">
                <div class="cell">
                    Date of Birth
                </div>
                <div class="cell">
                    09/07/1983
                </div>
            </div>
            <div class="row">
                <div class="cell">
                    Vulnerable type
                </div>
                <div class="cell">
                    <eds-tag motif="error" class="eds">Unemployed</eds-tag>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="cell">
                    Total Debt
                </div>
                <div class="cell">
                    £1,060.00
                </div>
            </div>
            <div class="row">
                <div class="cell">
                    Total Pursuable
                </div>
                <div class="cell">
                    £700.00
                </div>
            </div>
            <div class="row">
                <div class="cell">
                    Risk Stage
                </div>
                <div class="cell">
                    <eds-tag motif="success" class="eds">Medium</eds-tag>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="cell">
                    Reason for Arrears
                </div>
                <div class="cell">
                    &nbsp;
                </div>
            </div>
            <div class="row">
                <div class="cell">
                    <select class="select">
                        <option>Reduced Income</option>
                        <option>Sickness</option>
                        <option>Forgot to Pay</option>
                        <option>Unemployment</option>
                        <option>Can’t pay</option>
                        <option>Direct Debit Rejected</option>
                    </select>
                </div>
                <div class="cell">
                    <button class="btn">Confirm</button>
                </div>
            </div>
        </div>
    </eds-accordion-panel>
</eds-accordion>