<h5 class="subpage__coheading">Accounts</h5>
<div class="subpage__colistcont">
    <ul class="subpage__colist cur--pointer bor-col--red" onclick="showhideblocks('accountTab')">
        <li class="subpage__coinfo subpage--coaccinfo wdh--auto">
            <span class="subpage__coindicator">
                <i class="subpage__coicon"></i>
            </span>
        </li>
        <li class="subpage__coinfo subpage--coaccinfo pad-lt--0">
            <label class="subpage__colabel">A1000056</label>
            <p class="subpage__covalue">Personal Loan</p>
        </li>
        <li class="subpage__coinfo">
            <label class="subpage__colabel">£2,567.00</label>
            <p class="subpage__covalue">Balance</p>
            <span class="subpage__divider"></span>
        </li>
        <li class="subpage__coinfo">
            <label class="subpage__colabel">4</label>
            <p class="subpage__covalue">Payments Missed</p>
            <span class="subpage__divider"></span>
        </li>
        <li class="subpage__coinfo">
            <label class="subpage__colabel">1  2  1  0  0  1</label>
            <p class="subpage__covalue">Arrears Info</p>
        </li>
        <li class="subpage__coinfo wdh--auto progress--cont">
            <div class="subpage__hovercont">45% of debit paid</div>
            <div class="subpage__rtbtcorner progress--45">
                <div class="subpage__rtbtcorinner"></div>
                <div class="subpage__progress">
                    <div class="subpage__ltsidecr half--circle"></div>
                    <div class="subpage__rtsidecr half--circle"></div>
                </div>
            </div>
        </li>
    </ul>
    <ul class="subpage__colist">
        <li class="subpage__coinfo subpage--coaccinfo wdh--auto">
            <span class="subpage__coindicator bg--blue">
                <i class="subpage__coicon"></i>
            </span>
        </li>
        <li class="subpage__coinfo subpage--coaccinfo pad-lt--0">
            <label class="subpage__colabel">A3740473</label>
            <p class="subpage__covalue">Business Loan</p>
        </li>
        <li class="subpage__coinfo">
            <label class="subpage__colabel">£12,678.68</label>
            <p class="subpage__covalue">Balance</p>
            <span class="subpage__divider"></span>
        </li>
        <li class="subpage__coinfo">
            <label class="subpage__colabel">£115.28</label>
            <p class="subpage__covalue">Weekly Payment</p>
            <span class="subpage__divider"></span>
        </li>
        <li class="subpage__coinfo">
            <label class="subpage__colabel">0 0 0 0 0  0</label>
            <p class="subpage__covalue">Arrears Info</p>
        </li>
        <li class="subpage__coinfo wdh--auto progress--cont">
                <div class="subpage__hovercont">75% of debit paid</div>
            <div class="subpage__rtbtcorner progress--75">
                <div class="subpage__rtbtcorinner"></div>
                <div class="subpage__progress">
                    <div class="subpage__ltsidecr half--circle"></div>
                    <div class="subpage__rtsidecr half--circle"></div>
                </div>
            </div>
        </li>
    </ul>
    <ul class="subpage__colist">
        <li class="subpage__coinfo subpage--coaccinfo wdh--auto">
            <span class="subpage__coindicator bg--blue">
                <i class="subpage__coicon icon--cocar"></i>
            </span>
        </li>
        <li class="subpage__coinfo subpage--coaccinfo pad-lt--0">
            <label class="subpage__colabel">A0036583</label>
            <p class="subpage__covalue">Motor Finance</p>
        </li>
        <li class="subpage__coinfo">
            <label class="subpage__colabel">£7,583.89</label>
            <p class="subpage__covalue">Balance</p>
            <span class="subpage__divider"></span>
        </li>
        <li class="subpage__coinfo">
            <label class="subpage__colabel">£220.00</label>
            <p class="subpage__covalue">Monthly Payment</p>
            <span class="subpage__divider"></span>
        </li>
        <li class="subpage__coinfo">
            <label class="subpage__colabel">0 2 1 0 0 0</label>
            <p class="subpage__covalue">Arrears Info</p>
        </li>
        <li class="subpage__coinfo wdh--auto progress--cont">
            <div class="subpage__hovercont">25% of debit paid</div>
            <div class="subpage__rtbtcorner progress--25">
                <div class="subpage__rtbtcorinner"></div>
                <div class="subpage__progress">
                    <div class="subpage__ltsidecr half--circle"></div>
                    <div class="subpage__rtsidecr half--circle"></div>
                </div>
            </div>
        </li>
    </ul>
    <ul class="subpage__colist">
        <li class="subpage__coinfo subpage--coaccinfo wdh--auto">
            <span class="subpage__coindicator bg--blue">
                <i class="subpage__coicon icon--cohome"></i>
            </span>
        </li>
        <li class="subpage__coinfo subpage--coaccinfo pad-lt--0">
            <label class="subpage__colabel">A5033758</label>
            <p class="subpage__covalue">Personal Mortgage</p>
        </li>
        <li class="subpage__coinfo">
            <label class="subpage__colabel">25 Years</label>
            <p class="subpage__covalue">Mortgage Term</p>
            <span class="subpage__divider"></span>
        </li>
        <li class="subpage__coinfo">
            <label class="subpage__colabel">£450.00</label>
            <p class="subpage__covalue">Monthly Payment</p>
            <span class="subpage__divider"></span>
        </li>
        <li class="subpage__coinfo">
            <label class="subpage__colabel">0 0 0 0 0 0</label>
            <p class="subpage__covalue">Arrears Info</p>
        </li>
        <li class="subpage__coinfo wdh--auto progress--cont">
            <div class="subpage__hovercont">75% of debit paid</div>
            <div class="subpage__rtbtcorner progress--75">
                <div class="subpage__rtbtcorinner"></div>
                <div class="subpage__progress">
                    <div class="subpage__ltsidecr half--circle"></div>
                    <div class="subpage__rtsidecr half--circle"></div>
                </div>
            </div>
        </li>
    </ul>
    <ul class="subpage__colist">
        <li class="subpage__coinfo subpage--coaccinfo wdh--auto">
            <span class="subpage__coindicator bg--blue">
                <i class="subpage__coicon icon--cocard"></i>
            </span>
        </li>
        <li class="subpage__coinfo subpage--coaccinfo pad-lt--0">
            <label class="subpage__colabel">A5033758</label>
            <p class="subpage__covalue">Personal Credit Card</p>
        </li>
        <li class="subpage__coinfo">
            <label class="subpage__colabel">£2,567.00</label>
            <p class="subpage__covalue">Balance</p>
            <span class="subpage__divider"></span>
        </li>
        <li class="subpage__coinfo">
            <label class="subpage__colabel">£967.57</label>
            <p class="subpage__covalue">Last Payment</p>
            <span class="subpage__divider"></span>
        </li>
        <li class="subpage__coinfo">
            <label class="subpage__colabel">0 0 0 0 0 0</label>
            <p class="subpage__covalue">Arrears Info</p>
        </li>
        <li class="subpage__coinfo wdh--auto">
            <!-- <div class="subpage__rtbtcorner progress--75">
                <div class="subpage__rtbtcorinner"></div>
                <div class="subpage__progress">
                    <div class="subpage__ltsidecr half--circle"></div>
                    <div class="subpage__rtsidecr half--circle"></div>
                </div>
            </div> -->
        </li>
    </ul>
</div>