<ul class="tab-labels style-scope eds-tabs" role="tablist" id="tabNav">
        <li role="presentation" class="style-scope eds-tabs">
                <a id="tab-0" onclick="switchParentTab('0')" aria-controls="tab-panel-0" aria-selected="false" href="javascript:void(0);"
                        role="tab" class="style-scope eds-tabs accountsTab" aria-label="Person Overview">
                        Customer Overview
                </a>
        </li>
        <li role="presentation" id="accountTab" class="style-scope eds-tabs pos--relative pad-rt--15">
                <a id="tab-1" onclick="switchParentTab('1');switchaccarrtab('acc');" aria-controls="tab-panel-1" aria-selected="false" href="javascript:void(0);"
                        role="tab" class="style-scope eds-tabs accountsTab" aria-label="A One Zero Zero Zero Zero Five Six">
                        A1000056
                </a>
                <a id="closeCase" onclick="showhideblocks('', 'accountTab')" class="close--acctab" href="javascript:void(0);" title="Close Account View">
                        <eds-icon icon="close" id="close-tab" class="close-button s12 eds cur--pointer" library="material-icon-font">
                                <svg width="10px" height="8px" viewBox="0 0 10 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <!-- Generator: Sketch 51.2 (57519) - http://www.bohemiancoding.com/sketch -->
                                <title>Shape</title>
                                <desc>Created with Sketch.</desc>
                                <defs></defs>
                                <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g id="✱-/Header/Secondary/Person/default" transform="translate(-349.000000, -21.000000)" fill="#0E6EB7" fill-rule="nonzero" stroke="#0E6EB7">
                                        <polygon id="Shape" points="358 21.8057143 357.194286 21 354 24.1942857 350.805714 21 350 21.8057143 353.194286 25 350 28.1942857 350.805714 29 354 25.8057143 357.194286 29 358 28.1942857 354.805714 25"></polygon>
                                        </g>
                                </g>
                                </svg>
                        </eds-icon>
                </a>
        </li>
        <li role="presentation" class="style-scope eds-tabs">
                <a id="tab-2" onclick="switchParentTab('2')" aria-controls="tab-panel-2" aria-selected="false" href="javascript:void(0);"
                        role="tab" class="style-scope eds-tabs accountsTab" aria-label="Income and Expenditure">
                        Income and Expenditure
                </a>
        </li>
</ul>