<eds-accordion id="incomePanel" class="greyHeading eds marginBtm20" background="white" role="tablist"
    tabindex="-1" aria-hidden="false">
    <eds-accordion-panel label="Income & Expenditure" expandedlabel="Income & Expenditure"
        role="tab">
        <h5 id="arrearHeading" class="eds-accordion-label cur--auto" tabindex="0">
            <span class="eds-accordion-label-text txt--display-inline labelsection__left">
                Income & Expenditure </span>
            <eds-tag motif="warning" class="eds txt--transform-none txt--normal mrg-left--10px">Incomplete</eds-tag>
            <span class="eds-accordion-caret"></span>
        </h5>
    </eds-accordion-panel>
</eds-accordion>