<div id="incomeExpenditureStep2">
    <div class="IncomeExpenditure__">
        <h1>Latest Income and Expenditure Report</h1>
        <div class="subHeading__">
            <label>Completed Today 14:05</label>
            <label>
                <i class="icon--profile"></i>
                Ross Flynn
            </label>
        </div>
        <h1>
            <i class="icon--totalincome"></i>
            Total Income - <b>£1,930.00</b>
        </h1>
        <div class="accordion">
            <ul>
                <li>
                    <input type="checkbox">
                    <i></i>
                    <h2>Income - <span>£1,930.00</span></h2>
                    <div>
                        <table class="tbl">
                            <thead>
                                <tr>
                                    <th class="wdh-per--48" width="48%"></th>
                                    <th class="wdh-per--15" width="15%">Amount (GBP)</th>
                                    <th class="wdh-per--7">&nbsp;</th>
                                    <th class="wdh-per--15 txt-aln--left">How often?</th>
                                    <th class="wdh-per--15" >Average/Month (GBP)</th>
                                </tr>
                            </thead>
                            <tr>
                                <td>Your Wage</td>
                                <td>1350</td>
                                <td>&nbsp;</td>
                                <td class="txt-aln--left">month</td>
                                <td class="highlight--avgrow">1,350.00</td>
                            </tr>
                            <tr>
                                <td>Child Benefit</td>
                                <td>580</td>
                                <td>&nbsp;</td>
                                <td class="txt-aln--left">month</td>
                                <td class="highlight--avgrow">£580.00</td>
                            </tr>
                        </table>
                    </div>
                </li>
            </ul>
            <h1>
                <i class="icon--totalexpenditure"></i>
                Total Expenditure - <b>£1,100.00</b>
            </h1>
            <div class="IncomeExpenditure__withswitch">
                <h3 class="IncomeExpenditure__livingcost">Living Costs</h3>
                <div class="pull--right">
                    <label class="form-switch">Expand all
                        <input type="checkbox">
                        <i></i> 
                    </label>
                </div>
            </div>
            <div class="clear"></div>
            <ul>
                <li>
                    <input type="checkbox">
                    <i></i>
                    <h2>Housing and Utility Bills - <span>£900.00</span></h2>
                    <div>
                        <table class="tbl">
                            <thead>
                                <tr>
                                    <th class="wdh-per--48" width="48%"></th>
                                    <th class="wdh-per--15" width="15%">Amount (GBP)</th>
                                    <th class="wdh-per--7">&nbsp;</th>
                                    <th class="wdh-per--15 txt-aln--left">How often?</th>
                                    <th class="wdh-per--15" >Average/Month (GBP)</th>
                                </tr>
                            </thead>
                            <tr>
                                <td>Rent</td>
                                <td>900</td>
                                <td>&nbsp;</td>
                                <td class="txt-aln--left">month</td>
                                <td class="highlight--avgrow">£900</td>
                            </tr>
                        </table>
                    </div>
                </li>
                <li class="bg_gray bdr_t">
                    <input type="checkbox" checked>
                    <i></i>
                    <h2>Housing and Utility Bills - <span>£0.00</span></h2>
                </li>
                </li>
                <li class="bg_gray bdr_t">
                    <input type="checkbox" checked>
                    <i></i>
                    <h2>travel - <span>£0.00</span></h2>
                </li>
                </li>
                <li class="bg_gray bdr_t">
                    <input type="checkbox" checked>
                    <i></i>
                    <h2>Housing and Utility Bills - <span>£0.00</span></h2>
                </li>
                </li>
                <li class="bg_gray bdr_t">
                    <input type="checkbox" checked>
                    <i></i>
                    <h2>food and housekeeping - <span>£0.00</span></h2>
                </li>
                </li>
                <li class="bg_gray bdr_t">
                    <input type="checkbox" checked>
                    <i></i>
                    <h2>other services - <span>£0.00</span></h2>
                </li>
                <li class="bg_gray bdr_t">
                    <input type="checkbox" checked>
                    <i></i>
                    <h2>personal and leisure - <span>£0.00</span></h2>
                </li>
                <li class="bg_gray bdr_t">
                    <input type="checkbox" checked>
                    <i></i>
                    <h2>other costs - <span>£0.00</span></h2>
                </li>
            </ul>
            <h3>Debts & Court Payments</h3>
            <ul>
                <li>
                    <input type="checkbox">
                    <i></i>
                    <h2>DEBTS - <span>£200.00</span></h2>
                    <div>
                        <table class="tbl">
                            <thead>
                            <tr>
                                <th class="wdh-per--20">Name of ogganisation or lender</th>
                                <th class="wdh-per--10 txt-aln--cntr">
                                    Priority
                                    <i class="icon--ieinfo"></i>
                                </th>
                                <th class="wdh-per--15 txt-aln--left">Type of debt</th>
                                <th class="wdh-per--15">Amount owed (GBP)</th>
                                <th class="wdh-per--15">Usual Payment (GBP)</th>
                                <th class="wdh-per--10 txt-aln--left">How often?</th>
                                <th class="wdh-per--15">Average/Month (GBP)</th>
                            </tr>
                            </thead>
                            <tr>
                                <td>Halifax Bank of Scoland</td>
                                <td class="pos--relative">
                                    <input class="checkbox tbl--checkbox" checked="checked" type="checkbox" name ="sendarrangement"/>
                                </td>
                                <td class="txt-aln--left">Loan</td>
                                <td>2800</td>
                                <td>200</td>
                                <td class="txt-aln--left">month</td>
                                <td class="highlight--avgrow">200.00</td>
                            </tr>
                        </table>
                    </div>
                </li>
                <li class="bg_gray bdr_t">
                    <input type="checkbox" checked>
                    <i></i>
                    <h2>Court Payments - <span>£0.00</span></h2>
                </li>
            </ul>
        </div>
    </div>

    <div class="ieaside__">
        <div class="ieaside__inner ie--setp2">
            <h3>Overview -  Per Month</h3>
            <table>
                <tr>
                    <td>Income</td>
                    <td class="txt-aln--right"><b>£1,930.00</b></td>
                </tr>
                <tr>
                    <td>Expenditure</td>
                    <td class="txt-aln--right"><b>£1,100.00</b></td>
                </tr>
                <tr>
                    <td>Disposable Income</td>
                    <td class="txt-aln--right"><b>£1,830.00</b></td>
                </tr>
            </table>
            <hr>
            <div class="ieoutcomecont">
                <div class="ieoutcomecont__inner">
                    <label class="ieoutcomecont__label">Outcome</label>
                    <select class="ieoutcomecont__select">
                        <option>New Arrangement</option>
                        <option>Restructure</option>
                    </select>
                    <button class="btn ieoutcomecont__btn" onclick="gotoArr()">Confirm</button>
                </div>
            </div>
        </div>
    </div>
</div>