<eds-accordion class="greyHeading eds marginBtm20" background="white" role="tablist" tabindex="-1" aria-hidden="false">
        <eds-accordion-panel label="Income & Expenditure" expandedlabel="Income & Expenditure" active="" role="tab">
                <h5 class="eds-accordion-label cur--auto" tabindex="-1">
                        <span class="eds-accordion-label-text">Income & Expenditure</span>
                        <span class="eds-accordion-label-text">Income & Expenditure</span>
                        <span class="eds-accordion-caret"></span>
                </h5>
                <div class="table">
                        <div class="row">
                                <div class="cell">
                                        Income
                                </div>
                                <div class="cell">
                                        £1,930.00
                                </div>
                        </div>
                        <div class="row">
                                <div class="cell">
                                        Expenditure
                                </div>
                                <div class="cell">
                                        £1,100.00
                                </div>
                        </div>
                        <div class="row">
                                <div class="cell">
                                        Disposable Income
                                </div>
                                <div class="cell">
                                        £830.00
                                </div>
                        </div>
                        <div class="row">
                                <div class="cell">
                                        Completed
                                </div>
                                <div class="cell">
                                        22/09/2017
                                </div>
                        </div>
                </div>
        </eds-accordion-panel>
</eds-accordion>