<div class="contactdetails__basic">
    <div class="contactdetails__heading">
        <!-- <a class="contactdetails__logo">
                <img src="../assets/images/profile__icon.png" class="contactdetails__uselogo" alt="user">
            </a>
            <span class="contactdetails__details">Mr James Brown</span>
            <span class="">Ref ID: P781623</span>
            <a class="contactdetails__edit">
                <img src="../assets/images/up.png" class="contactdetails__expand" alt="expand">
            </a>
            <div class="contactdetails--inside"></div> -->
        <h5 id="accountFirstHeading" class="eds-accordion-label active cur--auto" tabindex="0">
            <i class="api-icon-element material-icons style-scope eds-icon eds-greyed">person</i>
            <span class="eds-accordion-label-text contactdetails__details">Mr James Brown</span>
            <span class="eds-accordion-label-text padding-lft--27">Ref ID: P781623</span>
            <img src="../assets/images/up.png" class="contactdetails__expand" alt="accordion expand" />

        </h5>
    </div>
    <div class="contactdetails__content">
        <ul class="contactdetails__contentlist contentlist--setpadding">
            <li class="contactdetails__contentitems contactdetails--bottom-border">
                <div class="contactdetails__setcontrol">
                    <label class="contactdetails__contenttitle">DOB</label>
                    <label class="contactdetails__contentparam">09/04/1988</label>
                </div>
                <div class="contactdetails__setcontrol">
                    <label class="contactdetails__contenttitle">Gender</label>
                    <label class="contactdetails__contentparam">M</label>
                </div>
                <div class="contactdetails__setcontrol">
                    <label class="contactdetails__contenttitle">VIP</label>
                    <label class="contactdetails__contentparam">N</label>
                </div>
                <div class="contactdetails__setcontrol">
                    <label class="contactdetails__contenttitle">Valnerable</label>
                    <label class="contactdetails__contentparam">N</label>
                </div>
            </li>
            <li class="contactdetails__contentitems contactdetails--bottom-border ">
                <div class="contactdetails__setcontrol">
                    <label class="contactdetails__contenttitle">Reason for Collections</label>
                    <label class="contactdetails__contentparam contactdetails">Arrears</label>
                </div>
            </li>
            <li class="contactdetails__contentitems contactdetails--bottom-border ">
                <div class="contactdetails__setcontrol">
                    <!-- <label class="contactdetails__contenttitle">Phone</label> -->
                    <div class="contactdetails__contenttitle">
                        <label class="contactdetails__reason">Reason for Arrears</label>
                        <!-- <select class="select search__select">
                                <option class="search__items" aria-selected="true" selected>Deceased</option>
                            </select> -->
                        <div class="contactdetails__select_box">
                            <select>
                                <option>Deceased</option>
                            </select>
                        </div>
                    </div>
                    <button class="contactdetails__confirm">
                        Confirm</button>
                </div>
            </li>
            <div class="contactdetails--inside"></div>
        </ul>
    </div>
</div>
<div class="tallydetails">
    <div class="tallydetails__left">
        <span class="tallydetails__incomeexpand">Income & Expenditure</span>
    </div>
    <div class="tallydetails__right">
        <!-- <span class="tallydetails__outofdate">Out of date</span> -->
        <eds-tag motif="warning" class="eds">Out of date</eds-tag>
    </div>
</div>
<div class="contactdetails__basic">
    <div class="contactdetails__content">
        <ul class="contactdetails__contentlist contentlist--setpadding">
            <li class="contactdetails__contentitems contactdetails--bottom-border">
                <div class="contactdetails__setcontrol">
                    <label class="contactdetails__contenttitle">Last Updated</label>
                    <label class="contactdetails__contentparam">08/12/2016</label>
                </div>
                <div class="contactdetails__setcontrol">
                    <label class="contactdetails__contenttitle">Last Validate</label>
                    <label class="contactdetails__contentparam">08/12/2016</label>
                </div>


            </li>
            <li class="contactdetails__contentitems contactdetails--bottom-border ">
                <div class="contactdetails__setcontrol">
                    <label class="contactdetails__contenttitle">Income</label>
                    <label class="contactdetails__contentparam">£5000</label>
                </div>
                <div class="contactdetails__setcontrol">
                    <label class="contactdetails__contenttitle">Essential Expenditure</label>
                    <label class="contactdetails__contentparam">£5000</label>
                </div>
                <div class="contactdetails__setcontrol">
                    <label class="contactdetails__contenttitle">Other Spending</label>
                    <label class="contactdetails__contentparam">£5000</label>
                </div>
                <div class="contactdetails__setcontrol">
                    <label class="contactdetails__contenttitle">Other Spending</label>
                    <label class="contactdetails__contentparam">£5000</label>
                </div>
            </li>
            <li class="contactdetails__contentitems contactdetails--bottom-border ">
                <div class="contactdetails__setcontrol">
                    <button class="contactdetails__confirm">
                        Update</button>
                </div>
            </li>
            <div class="contactdetails--inside"></div>
        </ul>
    </div>
</div>