<section class="subpage__tabdetail acct-container clear">
    <main class="subpage__tabdetailmain" id="container__profile">
        <div class="subpage__tabdetailinner containerFlex marginTop20">
            <div class="subpage__tableft containerSide left" id="profileContact">
                ${require('./customerOverviewSection.html')}
                ${require('./incomeExpenditureInfoExpanded.html')}
            </div>
            <div class="subpage__tabmiddle containerMiddle">
                ${require('./customerOverviewList.html')}
            </div>
            <div class="subpage__tabright containerSide" id="profileActivities">
                ${require('./activites.html')}
            </div>
        </div>
    </main>
</section>