<div class="search">
	<h2 class="search__visuallyhidden">Stats and account details search section</h2>
	<div class="search__innercont" aria-labelledby="search__stats">
		<div class="search__statscontainer" tabindex="2">
			<div class="search__statshead">
				<h2 id="search__stats" class="search__heading">Your stats and targets:</h2>
				<ul class="search__daylistcont">
					<li class="search__daylist">
						<label class="search__daylabel">
							Today
							<input class="search__dayinput" type="radio" checked="checked" name="statsday" />
							<span class="search__daycheckmark"></span>
						</label>
					</li>
					<li class="search__daylist">
						<label class="search__daylabel">
							Week to date
							<input class="search__dayinput" type="radio" name="statsday" />
							<span class="search__daycheckmark"></span>
						</label>
					</li>
					<li class="search__daylist">
						<label class="search__daylabel">
							Month to date
							<input class="search__dayinput" type="radio" name="statsday" />
							<span class="search__daycheckmark"></span>
						</label>
					</li>
				</ul>
			</div>
			<div class="clear"></div>
			<div class="search__callstats">
				<p class="search__statcount">
					5
				</p>
				<p class="search__statdesc">Promises Set</p>
				<div class="search__targetcont">
					<img src="../assets/images/icon__target.png" alt="Target Icon" class="search__targeticon" />
					4
				</div>
			</div>
			<div class="search__callstats">
				<p class="search__statcount">
					60 <span class="search__percentage">%</span>
				</p>
				<p class="search__statdesc">Promise Rate as % RPC</p>
				<div class="search__targetcont">
					<img src="../assets/images/icon__target.png" alt="Target Icon" class="search__targeticon" />
					70%
				</div>
			</div>
			<div class="search__callstats">
				<p class="search__statcount">
					60 <span class="search__percentage">%</span>
				</p>
				<p class="search__statdesc">Kept Promises</p>
				<div class="search__targetcont">
					<img src="../assets/images/icon__target.png" alt="Target Icon" class="search__targeticon" />
					80%
				</div>
			</div>
			<div class="search__callstats">
				<p class="search__statcount">
					6
				</p>
				<p class="search__statdesc">Payments taken</p>
				<div class="search__targetcont">
					<img src="../assets/images/icon__target.png" alt="Target Icon" class="search__targeticon" />
					14
				</div>
			</div>
			<div class="search__callstats search--collected">
				<p class="search__statcount">
					2,400
				</p>
				<p class="search__statdesc">£’s Collected</p>
				<div class="search__targetcont">
					<img src="../assets/images/icon__target.png" alt="Target Icon" class="search__targeticon" />
					1,860
				</div>
			</div>
			<div class="search__callstats">
				<p class="search__statcount">
					7
					<p class="search__statdesc">Positive Outcomes</p>
				</p>
				<div class="search__targetcont">
					<img src="../assets/images/icon__target.png" alt="Target Icon" class="search__targeticon" />
					5
				</div>
			</div>
		</div>
		<div class="search__bycont" role="search">
			<form class="search__form" action="accountsummary.html">
				<ul class="search__listcont">
					<li class="search__list">
						<label for="account__number" class="search__visuallyhidden"></label>
						<input tabindex="4" id="account__number" required type="number" class="search__input" min="0" placeholder="Account Number" aria-label="account number" />
					</li>
					<li class="search__list">
						<label for="ni__number" class="search__visuallyhidden"></label>
						<input tabindex="4" id="ni__number" required type="text" class="search__input" min="0" placeholder="Card Number" aria-label="national insurance number" />
					</li>
					<li class="search__list">
						<label for="date" class="search__visuallyhidden"></label>
						<input tabindex="4" id="date" type="text" class="search__input" placeholder="Date of Birth (dd/mm/yyyy)" aria-label="date of birth" />
						<i class="icon--arrcalendar"></i>
					</li>
					<li class="search__list">
						<label for="search" class="search__visuallyhidden"></label>
						<input tabindex="4" id="search" type="submit" class="btn search__submit" value="Search" aria-label="Search button to search account"/>
					</li>
				</ul>
			</form>
		</div>
	</div>
</div>