<section class="scndryheader">
    <div class="scndryheader__cont">
        <div class="scndryheader__tabcont" role="tablist" aria-orientation="horizontal">
            <div class="scndryheader__tabinner" aria-expanded="true" role="tab">
                <a id="goHome" class="scndryheader__homelink" href="index.html" title="Go back to home">
                    <eds-icon icon="home" class="scndryheader__homeicon" library="material-icon-font">
                        <svg class="scndryheader__homesvg" width="16px" height="14px" viewBox="0 0 16 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <!-- Generator: Sketch 51.2 (57519) - http://www.bohemiancoding.com/sketch -->
                            <title>Shape</title>
                            <desc>Created with Sketch.</desc>
                            <defs></defs>
                            <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="✱-/Header/Secondary/Home/default" transform="translate(-23.000000, -18.000000)" fill="#426DA9" fill-rule="nonzero">
                                    <polygon id="Shape" points="29.4000002 31.6000004 29.4000002 26.8000002 32.6000003 26.8000002 32.6000003 31.6000004 36.6000004 31.6000004 36.6000004 25.2000002 39.0000004 25.2000002 31.0000002 18 23 25.2000002 25.4000001 25.2000002 25.4000001 31.6000004"></polygon>
                                </g>
                            </g>
                        </svg>
                    </eds-icon>
                </a>
            </div>
        </div>
    </div>
</section>