@import "../styles/variables.scss";
.subpage{
    &__{
        &alertinfo{
            margin: 10px 15px 0;
            min-height: 70px;
            border: solid 1px #fad9dd;
            border-radius: 5px;
            overflow: hidden;
            font-size: 14px;
        }
        &alertleft{
            width: 15%;
            background: #fad9dd;
            float: left;
            height: 70px;
        }
        &alertright{
            width: 85%;
            float: left;
            background: #ffffff;
            padding: 10px 0 15px;
        }
        &alertmessage{
            margin: 0 15px;
        }
        &alerticon{
            background: url(../images/alert.png) no-repeat 0 0 transparent;
            display: block;
            width: 20px;
            height: 20px;
            margin: 15px auto 0;
        }
        &arrangeheading{
            float: left;
            @include fontStyling($family: 'Roboto-Regular', $size: 20px!important, $color: $lightFontColor);
            margin-top: 10px;
        }
        &arrangecont{
            width: 100%;
            border-bottom: solid 1px #cccccc;
            float: left;
        }
        &arrangeselect{
            float: right;
            margin-top: 0!important;
            margin-bottom: 20px!important;
            .eds-dropdown-trigger .eds-dropdown-arrow{
                right: 5px;
            }
            .eds-dropdown-trigger{
                background: none;
                padding-right: 20px;
            }
        }
        &createarrange{
            float: left;
            margin: 35px 0 35px;
            width: 100%;
            @include fontStyling($family: 'Roboto-Regular', $size: 22px!important, $color: $lightFontColor);
        }
        &arrangeprogresscont{
            margin: 0 50px;
            position: relative;
        }
        &arrangeprogressline{
            position: absolute;
            width: 100%;
            height: 2px;
            background: #cccccc;
            left: 0;
            top: 40px;
        }
        &arrangeprogress{
            float: left;
            width: 100%;
            position: relative;
        }
        &arrangetaskcircle{
            background: #cccccc;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            position: absolute;
            left: 0;
            top: 22px;
            &:before{
                background: #ffffff;
                position: absolute;
                width: 12px;
                height: 12px;
                content: "";
                border-radius: 50%;
                top: 50%;
                margin-left: -6px;
                left: 50%;
                margin-top: -6px;
            }
        }
        &arrangetask{
            position: absolute;
            left: -10px;
            top: 8px;
        }
        &arrangetaskinfo{
            position: absolute;
            margin-left: -10px;
            left: 50%;
            top: -20px;
        }
        &arrangeform{
            float: left;
            width: 100%;
            margin-top: 100px;
        }
        &arrangeforminner{
            float: left;
            width: 100%;
        }
        &arrangeformlabel{
            float: left;
            width: 50%;
            padding-top: 5px;
            @include fontStyling($family: 'Roboto-Medium', $size: 16px!important, $color: #333333);
        }
        &arrangeformlist{
            float: left;
            width: 60%;
            margin-bottom: 10px;
        }
        &arrangeforminput{
            width: 50%;
            padding: 10px;
            border-radius: 5px;
            border: solid 1px #cccccc;
        }
        &arrangeformselect{
            float: right;
            margin-top: 0!important;
            margin-bottom: 20px!important;
            width: 50%;
            .eds-dropdown-trigger .eds-dropdown-arrow{
                right: 5px;
            }
            .eds-dropdown-trigger{
                background: none;
                padding-right: 20px;
            }
        }
        &arrangeformbuton{
            float: right;
            padding: 10px;
            background: #426da9;
            border-radius: 5px;
            border: none;
            @include fontStyling($family: 'Roboto-Regular', $size: 14px!important, $color: #ffffff);
            margin: 30px 0;
            cursor: pointer;
            &:hover{
				background: #004590;
                color: #ffffff;
			}
        }
        &arrangegraph{
            border-top: solid 1px #cccccc;
            float: left;
            width: 100%;
        }
        &arrangegraphhead{
            margin: 30px 0;
            @include fontStyling($family: 'Roboto-Regular', $size: 22px!important, $color: #333333);
        }
        &graphcont{
            border: solid 1px #cccccc;
            text-align: center;
            border-radius: 5px;
            padding: 15px 0;
        }
        &graphimg{
            width: 96%;
        }
        &sustaincont{
            float: left;
            width: 100%;
            padding: 35px 0 30px;
            border-bottom: solid 1px #cccccc;
            margin-bottom: 35px;
        }
        &sustainlist{
            float: left;
            width: 31%;
            border: solid 1px #cccccc;
            border-radius: 5px;
            overflow: hidden;
            margin-right: 3.5%;
            &:nth-child(last){
                margin-right: 0;
            }
        }
        &sustainhead{
            padding: 20px;
            background: #f6f6f6;
        }
        &sustainnumber{
            float: left;
            @include fontStyling($family: 'Roboto-Medium', $size: 46px!important, $color: #333333);
            margin-right: 10px;
            height: 30px;
            margin-top: 10px;
        }
        &sustainheading{
            float: left;
            width: 80%;
            @include fontStyling($family: 'Roboto-Medium', $size: 16px!important, $color: #333333);
        }
        &sustaindesc{
            @include fontStyling($family: 'Roboto-Regular', $size: 14px!important, $color: #333333);
        }
        &sustaintime{
            @include fontStyling($family: 'Roboto-Regular', $size: 16px!important, $color: #333333);
            padding: 20px 0;
            text-align: center;
            border-top: solid 1px #cccccc;
            border-bottom: solid 1px #cccccc;
        }
        &sustaindetails{
            margin-top: 10px;
            float: left;
            width: 100%;
        }
        &sustaindetailsinner{
            padding: 15px;
        }
        &sustaindetailslabel{
            @include fontStyling($family: 'Roboto-Medium', $size: 16px!important, $color: #666666);
            text-transform: uppercase;
            margin-bottom: 3px;
            float: left;
            width: 100%;
        }
        &sustaindetailsamount{
            @include fontStyling($family: 'Roboto-Regular', $size: 16px!important, $color: #333333);
        }
        &sustainselectbutton{
            background: #edf4fa;
            border-radius: 5px;
            border: solid 1px #426da9;
            padding: 5px 10px;
            float: right;
            margin-bottom: 25px;
            @include fontStyling($family: 'Roboto-Regular', $size: 14px!important, $color: #426da9);
            margin-left: 15px;
            min-width: 80px;
            cursor: pointer;
            &:hover{
				background: #004590;
                color: #ffffff;
			}
        }
        &sustaineditbutton{
            float: right;
            @include fontStyling($family: 'Roboto-Regular', $size: 14px!important, $color: #426da9);
            background: transparent;
            border: none;
            padding: 5px 10px;
            cursor: pointer;
            &:hover{
				color: #004590;
			}
        }
        &previewschedulebutton{
            background: #edf4fa;
            border-radius: 5px;
            border: solid 1px #426da9;
            padding: 5px 10px;
            float: right;
            @include fontStyling($family: 'Roboto-Regular', $size: 14px!important, $color: #426da9);
            cursor: pointer;
            &:hover{
				background: #004590;
                color: #ffffff;
			}
        }
        &createarrangebutton{
            background: #426da9;
            border-radius: 5px;
            border: solid 1px #426da9;
            padding: 5px 10px;
            float: right;
            @include fontStyling($family: 'Roboto-Regular', $size: 14px!important, $color: #ffffff);
            margin-left: 20px;
            cursor: pointer;
            &:hover{
				background: #004590;
                color: #ffffff;
			}
        }
        &sustainbuttons{
            margin-bottom: 20px;
            float: left;
            width: 100%;
        }
        &arrangereviewcont{
            float: left;
            width: 100%;
            margin-top: 100px;
        }
        &arrangereview{
            float: left;
            width: 50%;
            position: relative;
        }
        &arrangereviewhead{
            text-transform: uppercase;
            padding: 15px;
            @include fontStyling($family: 'Roboto-Medium', $size: 14px!important, $color: #000000);
        }
        &arrangereviewblock{
            border-top: solid 1px #cccccc;
            padding: 10px 0;
            float: left;
            width: 100%;
        }
        &arrangereviewlist{
            margin: 5px 0;
            float: left;
            width: 100%;
        }
        &arrangereviewlabel{
            @include fontStyling($family: 'Roboto-Medium', $size: 12px!important, $color: #cccccc);
            text-transform: uppercase;
            float: left;
            margin-left: 15px;
        }
        &arrangereviewvalue{
            float: right;
            margin-right: 15px;
            @include fontStyling($family: 'Roboto-Regular', $size: 12px!important, $color: #000000);
        }
        &arrangereviewoutline{
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            border: solid 1px #426da9;
        }
        &arrangereviewbtns{
            float: left;
            width: 100%;
            margin: 30px 0;
        }
        &arrangereviewbtn{
            background: #edf4fa;
            border-radius: 5px;
            border: solid 1px #426da9;
            padding: 5px 10px;
            float: right;
            @include fontStyling($family: 'Roboto-Regular', $size: 14px!important, $color: #426da9);
            min-width: 150px;
            cursor: pointer;
            &:hover{
				background: #004590;
                color: #ffffff;
			}
        }
        &arrangereviewcmptbtn{
            background: #426da9;
            border-radius: 5px;
            border: solid 1px #426da9;
            padding: 5px 10px;
            float: right;
            @include fontStyling($family: 'Roboto-Regular', $size: 14px!important, $color: #ffffff);
            min-width: 150px;
            cursor: pointer;
            &:hover{
				background: #004590;
                color: #ffffff;
			}
        }
        &sendarrangetbl{
            width: 100%;
            border-top: solid 1px #cccccc;
            border-bottom: solid 1px #cccccc;
            @include fontStyling($family: 'Roboto-Regular', $size: 14px!important, $color: #000000);
        }
        &sendarrangecol{
            padding: 20px 10px;
            border-top: solid 1px #cccccc;
            border-bottom: solid 1px #cccccc;
        }
        &arrangesetup{
            margin-top: 60px;
            float: left;
            width: 100%;
            border-bottom: solid 1px #ccc;
            padding-bottom: 40px;
        }
        &arrangesetupdesc{
            float: left;
            width: 100%;
            @include fontStyling($family: 'Roboto-Regular', $size: 14px!important, $color: #000000);
            margin-bottom: 15px;
        }
        &arrangesetuplabel{
            float: left;
            line-height: 32px;
            @include fontStyling($family: 'Roboto-Regular', $size: 14px!important, $color: #000000);
        }
        &arrangesetuplist{
            float: left;
            width: 100%;
            margin-top: 5px;
        }
    }
}
.aln-{
    &at--{
        &middle{
            left: 50%;
            .subpage__arrangetaskinfo{
                margin-left: -15px;
            }
        }
        &end{
            left: auto;
            right: 0;
            .subpage__arrangetaskinfo{
                margin-left: -30px;
            }
        }
    }
}
.progress--{
    &active{
        .subpage__arrangetaskinfo{
            color: #e63888;
        }
        .subpage__arrangetaskcircle{
            background: #e63888;
        }
    }
    &complete{
        .subpage__arrangetaskcircle{
            background: #e63888;
            &::after {
                width: 6px;
                height: 12px;
                border-right: solid 2px #ffffff;
                border-bottom: solid 2px #ffffff;
                left: 7px;
                top: 3px;
                content: "";
                transform: rotate(45deg);
                position: absolute;
            }
            &::before{
                display: none;
            }
        }
    }
}
.clear--{
    &both{
        clear: both!important;
    }
}
.pull--{
    &left{
        float: left!important;
    }
}
.sustain--{
    &active{
        &.subpage__{
            &sustainlist{
                border-color: #426da9;
            }
        }
        .subpage__{
            &sustainhead{
                background: #426da9;
            }
            &sustainnumber{
                color: #ffffff!important;
            }
            &sustainheading{
                color: #ffffff!important;
            }
            &sustaindesc{
                color: #ffffff!important;
            }
            &sustaintime{
                border-color: #426da9;
                font-family: 'Roboto-Medium'!important;
            }
            &sustainselectbutton{
                background: #426da9;
                color: #ffffff!important;
            }
        }
    }
}
.mar-{
    &lt--{
        &25{
            margin-left: 25px!important;
        }
    }
}
.txt-{
    &aln--{
        &rt{
            text-align: right;
        }
    }
}
.checkbox {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    border: solid 1px #426da9;
    background: #fff;
    margin: 0 10px 0 0;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    float: right;
    position: relative;
    top: 5px;
    &:checked{
        position: relative;
        &::after {
            position: absolute;
            width: 7px;
            height: 12px;
            border-right: solid 3px #426da9;
            border-bottom: solid 3px #426da9;
            left: 6px;
            top: 2px;
            content: "";
            transform: rotate(45deg);
        }
    }
}
.roundedcheckbox{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: solid 1px #47780c;
    background: #fff;
    margin: 0 15px 0 0;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    float: left;
    position: relative;
    top: 5px;
    &:checked{
        position: relative;
        background: #47780c;
        &::after {
            position: absolute;
            width: 6px;
            height: 12px;
            border-right: solid 2px #ffffff;
            border-bottom: solid 2px #ffffff;
            left: 6px;
            top: 2px;
            content: "";
            transform: rotate(45deg);
        }
    }
}
.row--{
    &selected{
        @include fontStyling($family: 'Roboto-Medium', $size: 14px!important, $color: #000000);
    }
}
#createarrangement, #completearrangement, #generatearrangement{
    display: none;
}
eds-tag[motif='primary'] {
    background: #d2e7f7;
    color: #333333;
}

.cell--span-2 {
    display: inline-block;
    width: 99%;
    font-size: 13px;
    text-align: left;
    font-weight: 500;
}

.arrears__data {
    display: block;
    font-weight: 400;
    font-size: 13px;
}

.txt--transform-none {
    text-transform: none;
}

.txt--normal {
    font-weight: 400;
}

.txt--display-inline {
    display: inline !important;
}

.labelsection__left {
    float: left;
}

.labelsection__right {
    float: right;
}

.mrg-left--10px {
    margin-left: 10px;
}

.mrg-left--40px {
    margin-left: 40px !important;
}

.mrg-top--30px {
    margin-top: 30px !important;
}

.borderradius--top-none {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.borderradius--bottom-none {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.eds-accordion-add {
    position: absolute;
    right: 60px;
    top: 12px;
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../images/add.png);
}

.clr--blue {
    color: #0e6eb7;
}

.accountinfo__calendarcontainer {
    border: 1px solid #cccccc;
    border-radius: 6px;
    margin-top: 80px;
}

.accountinfo__calendartemplate {
    padding: 10px 40px;

}

.accountinfo__calendar {
  overflow: hidden;
}

.accountinfo__calendarview {
    overflow: hidden;
    padding: 10px 0;
}

.accountinfo__switchmonth {
    float: left;
    width: 5%;
    min-height: 253px;
    display: table;
}

.accountinfo__monthviews {
    float: left;
    width: 90%;
}

.accountinfo__monthviewsection {
    float: left;
    width: 50%;
}

.accountinfo__monthview {
    width: calc(100% - 20px - 1px);
    padding: 0 10px;
    overflow: hidden;
    margin: 0 auto;
  }

.accountinfo__calendartitle {
  font-weight: 600;
  font-size: 13px;
  display:block; 
  padding: 5px 0;
  text-align:center; 
  border-bottom: 1px solid #d6d6d6;
}

.accountinfo__calendarcells {
    overflow:hidden;
    padding-top: 10px;
    margin: 0 auto;
}

.accountinfo__calendarheader {
    font-weight: 500;
    font-size: 13px;
    display:block; 
    text-align:center; 
    display:inline-block; 
    float:left;
    width:14.285%; 
    height:30px; 
    overflow:hidden; 
    line-height:30px;
}

.accountinfo__calendarcell{
    font-weight: 400;
    font-size: 13px;
    text-align:center; 
    width:14.285%; 
    height:30px; 
    display:inline-block; 
    float:left; 
    overflow:hidden; 
    line-height:30px;
    position: relative;
}

.circle--fill {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    background-color: transparent;
}

.circle--border {
    width: 25px;
    height: 25px;
    border: 2px solid transparent;
    border-radius: 50%;
    z-index: -1;
}

.circle--pos-center {
    position: absolute;
    margin-left: -12px;
    margin-top: -13px;
    left: 50%;
    top: 50%;
}

.smallcircle--fill {
    width: 15px;
    height: 15px;
    border: none;
    border-radius: 50%;
    position: absolute;
    display: inline-block;
    margin-top: 4px;
}

.smallcircle--border {
    width: 15px;
    height: 15px;
    border: 2px solid transparent;
    border-radius: 50%;
    position: absolute;
    display: inline-block;
    margin-top: 4px;
}

.accountinfo__multipleevents {
    border-color: #6b2075;
}

.accountinfo__arrangement {
    background-color: #b7bd11;
}

.accountinfo__debit {
    background-color: #00b0a4;
}

.accountinfo__credit {
    background-color: #0082a6;
}

.accountinfo__call {
    background-color: #6b2075;
}

.accountinfo__communication {
    background-color: #e63987;
}

.accountinfo__userconfig1 {
    background-color: #ff8e1c;
}

.accountinfo__userconfig2 {
    background-color: #fcd700;
}

.accountinfo__today {
    background-color: #e1effa;
    width: 25px;
    height: 25px;
    position: absolute;
    margin-left: -12.5px;
    margin-top: -12.5px;
    left: 50%;
    top: 50%;
    z-index: -1;
}

.clr--white {
    color: #fff;
}

.clr--purple {
    color: #6b2075;
}

.devider {
    width: 1px;
    height: 200px;
    background-color: #d6d6d6;
    margin-top: 50px;
    float: left;
}

.accountinfo__legendsection {
    overflow: hidden;
    background-color: #f5f5f5;
    padding: 15px 0;
}

.accountinfo__calendarlegends {
    width: 85%;
    margin: 0 auto;
    overflow: hidden;
}

.accountinfo__calendarlegend {
    position: relative;
    float: left;
    width: 25%;
    margin: 4px 0;
}

.accountinfo__calendarlegendtext {
    margin-left: 25px;
    font-weight: 400;
    font-size: 13px;
}

.accountinfo__switchmonthlink {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.eds-previous-caret {
    position: absolute;
    right: 0px;
    top: 50%;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../images/left_arrow.png);
    margin-top: -10px;
}

.eds-next-caret {
    position: absolute;
    right: 0px;
    top: 50%;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../images/right_arrow.png);
    margin-top: -10px;
}

.pcc-eds-timeline-item [slot="slot-header-center"] {
    font-size: 14px;
}

.timeline__day {
    color:#7a7a7a;
}

.timeline__details {
    font-weight: 400;
    
}

.scale2 {
    transform: scale(2);
    vertical-align: bottom;
}

/* eds-icon[icon*="keyboard_arrow"] {
    color: #0e6eb7;
    margin-left: 5px;
} */



pcc-eds-timeline-item [slot="slot-header-center"] [slot="slot-header-right"] {
    text-align: left !important;
}

pcc-eds-timeline-item .pagination {
    border-left: 1px solid #d8d8d8;
    margin-left: 53px;
    /* min-height: 20px; */
    padding-right: 30px;
    text-align: center;
}

pcc-eds-timeline-item .section-pagination {
    flex: 5;
    margin-left: 20px;
}

.paginate {
    display: inline-block;
    padding: 0;
    margin: 0;
    font-size: 14px;
}

.paginate__item {
    display: inline;
}

.paginate__link {
    font-weight: 700;
    float: left;
    padding: 8px 8px;
    text-decoration: none;
    margin: 0 4px;
    /* transition: background-color .3s; */
    /* border: 1px solid #ddd; */
}

.link--active {
    color: #333333 !important;
    border-bottom: 2px solid #af1685;
}

.link--disabled {
    color: #7a7a7a !important;
}

.margin0 {
    margin: 0 !important;
}

.margin-left--5px {
    margin-left: 5px;
}

.padding-left--0 {
    padding-left: 0;
}

.padding-right--0 {
    padding-right: 0;
}

.font--normal {
    font-weight: 400;
}

.pcc-eds-timeline-view {
    padding-bottom: 15px;
}

.pagination__container {
    display: flex;
    flex: 5;
    align-items: center;
}

.pagination__links {
    /* display: flex; */
    flex: 4;
}

.pagination__status {
    /* display: flex; */
    flex: 1;
    font-weight: normal;
}

.pcc-eds-timeline-view {
    padding-bottom: 15px !important;
}

.slot__datacontainer {
    background-color: #f5f5f5;
    padding: 20px 0;
}

.slot__datetemplate {
    overflow: hidden;
    padding: 0 30px;
}

.slot__datacontainer {
    overflow: hidden;
    background-color: #f5f5f5;
}

.slot__dataitem {
    float: left;
    width: 50%;
    padding: 0 20px;
}

.slot__dataheader {
    color: #af1685;
    margin-left: 5px;
}

.slot__datafield {
    margin-left: 5px;
    margin-top: 15px;
    font-weight: 500;
    font-size: 14px;
}

.slot__value {
    margin-left: 5px;
    padding: 2px 5px;
    font-size: 14px;
    font-weight: 400;
    margin-top: 5px;
    display: inline-block;
}
.slot__updatedvalue {
    background-color: #faecb9;
    padding: 2px 5px;
    font-size: 14px;
    font-weight: 400;
    margin-top: 5px;
    display: inline-block;
}

.brd-right--1px {
    border-right: 1px solid #d6d6d6;
}

.upload__document {
    background: url(../images/upload_document.png) 0 no-repeat;
    width: 20px;
    height: 20px;
    background-size: contain;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -10px;
    margin-left: -7px;
}

.document {
    background: url(../images/document.png) 0 no-repeat;
    width: 20px;
    height: 20px;
    background-size: contain;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -10px;
    margin-left: -9px;
}
.pos--relative {
    position: relative;
}
.promisepay{
	&__navtab{
		width: 200px;
		margin: 0 auto 20px;
		border-radius: 4px; 
	}
	&__navtabcont{
		padding: 0;
		line-height: 10px;
	}
	&__navtablist{
		list-style: none;
		line-height: 10px;
	}
	@media all and (-ms-high-contrast:none)
     {
		&__navtablist{
			list-style-image: url(data:0);
			display: inline;
		}
     }
	&__navtablink{
		border: solid 1px $lightGreyColor;
		text-decoration: none;
		text-align: center;
		@include fontStyling($family: 'Roboto', $size: 14px, $color: $btn-color);
		min-width: 97px;
	    float: left;
		padding: 10px 0;
		font-weight: 500 !important;
	}
	&--navtablinkactive{
		background: $navTabBgColor;
		color: $whiteColor!important;
		border: solid 1px $navTabBgColor;
	}
	&--navtablinkfirst{
		border-radius: 4px 0 0 4px!important;
		border-right: none;
	}
	&--navtablinklast{
		border-radius: 0 4px 4px 0!important;
		border-left: none;
    }
}
.notes-tab{
    eds-accordion{
        border-color: #426DA9;        
    }
    .note-container{
        background-color: #426DA9;
        eds-accordion-panel{
            background-color: #426DA9;
        }
        .eds-accordion-label{
            background: #426DA9!important;
            color: #ffffff!important;
        }
        .table{
            background: #ffffff!important;
        }
    }
    .note-btn{
        float: right;
    }
    .row > .cell{
        float: right;
    }
    textarea{
        padding: 10px 10px 0;
        font-size: 14px!important;
    }
}