$eds-accordian-label-bg: #dcdcdc;
$btn-color: #426da9;
$blackColor: #000000;
$activity-tab-color: #d8d8d8;
$whiteColor: #ffffff;
$font-primary-color: #333333;
$tab-heading-color: #6d2077;
$eds-dropdown-placeholder-color: #b9b9b9;
$brownGreyColor: #888888;
$lightGreyColor: #cccccc;
$whiteLightColor: #f6f6f6;
$blueFontColor: #0e6eb7;
$filter-bgcolor: #d2e8f9;
$eds-tab-hover-color: #163c6f;
$icon-hover-color: #1d4f91;
$transparent-color: transparent;
$statsColor: #4e4e4e;
$statsDescColor: #7a7a7a;
$countColor: #e20000;
$blueColor: #006dbd;
$barneyColor: #af1685;
$lightFontColor: #aaaaaa;
$btnBorder: #004590;
$btnBackground: #EDF4FA;
$navTabBgColor: #d82b80;
$gradientLeftColor: #ba2f7d;
$gradientRightColor: #26478d;
$font_family_1: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
$header-border-color: #e63888;
$success-color: #007A3B;
$alert-color: #e4002b;
$warning-color: #b35900;
$eds-tag-color: #e6e6e6;
$eds-error: #ffdce2;
$eds-warning: #fceeba;
$eds-success: #cdf4d2;
$promise-pay-activity-tab: #912783;
$progress-color: #cccccc;
$default-size: 42px;

//mixins
@mixin padding-mixin($number) {
    padding: $number;
}
  
@mixin fontWeight($weight) {
    font-weight: $weight;
}
@mixin addresses($width, $borderradius, $border){
    width: $width;
    border-radius: $borderradius;
    border: $border;
}
@mixin fontStyling($family, $size, $color) {
    font-size: $size;
    font-family: $family !important;
    font-weight: normal !important;
    color: $color;
}
@mixin headerIcons($width, $height){
    width: $width;
    height: $height;
    float: left;
}
@mixin coverImage($imgurl){
    background: url($imgurl) no-repeat center center transparent; 
    background-size: 100%;
}
@mixin size($width, $height) {
    height: $height;
    width: $width;
}
.mar{
  &-tp{
    &--0{
      margin-top: 0!important;
    }
    &--100{
      margin-top: 100!important;
    }
  }
  &-rt{
    &--none{
      margin-right: 0 !important;
    }
  }
  &-bt{
    &--25{
      margin-bottom: 25px!important;
    }
  }
}
.wdh{
  &-per{
    &--10{
      width: 10%!important;
    }
    &--25{
      width: 25%!important;
    }
    &--35{
      width: 35%!important;
    }
    &--100{
      width: 100%!important;
    }
  }
}
.bor{
  &-tp{
    &--{
      &none{
        border-top: none!important;
      }
    }
  }
  &-tpbt{
    &--{
      &none{
        border-top: none!important;
        border-bottom: none!important;
      }
    }
  }
}
.txt{
  &-aln{
    &--{
      &rt{
        text-align: right;
      }
    }
  }
}
.pad-{
  &lt--{
    &0{
      padding-left: 0!important;
    }
  }
  &lt--{
    &50{
      padding-left: 50px!important;
    }
  }
  &tp--{
    &10{
      padding-top: 10px!important;
    }
  }
}
@mixin draw--progress($progress, $color) {
  .subpage__progress {
    .half--circle {
      border-color: $color;
    }
    .subpage {
      &__ltsidecr {
        transform: rotate($progress * 3.6deg);
      }
    }
    @if $progress <= 50 {
      .subpage {
        &__rtsidecr {
          display: none;
        }
      }
    } @else {
      clip: rect(auto, auto, auto, auto);
      .subpage {
        &__rtsidecr {
          transform: rotate(180deg);
        }
      }
    }
  }
}
.bg--{
  &blue{
    background: #436fa8!important;
  }
}
.bor-{
  &col--{
    &red{
      border-color: rgba(228,0,43,0.37);
      .subpage--coaccinfo{
        background-color: rgba(205,0,38,0.04)
      }
    }
  }
}